.register-account{padding: 50px 0px 80px}
.register-account .modal-data .nav-tabs {
    border-bottom: 0px;
}
.register-account .modal-data{
    background-color: #fff;
    padding: 40px 15px 40px 25px;
}
.register-account .nav-tabs .nav-item.show .nav-link, .register-account .nav-tabs .nav-link.active {
    background-color: #fed90a;
    color: #fff;
    border: 1px solid #6b6a73 !important;
}
.register-account .nav-tabs .nav-item.show .nav-link, .register-account .nav-tabs .nav-link.active .candidate{
    background-color: #231f20;
}
.register-account .nav-tabs .nav-item.show .nav-link, .register-account .nav-tabs .nav-link.active p
{
    color:#f1f2f0;
}
.register-account .nav-tabs .nav-item.show .nav-link, .register-account .nav-tabs .nav-link.active h4{
    color:#fff;
}
.register-account .nav-tabs .nav-item .nav-link{
    position: relative;
    text-align: center;
    border: 1px solid #6b6a73;
    padding: 20px 15px;
    margin: 13px 25px 13px 15px;
    border-radius: 5px;
}
.register-account .modal-data .nav-tabs .nav-link:focus, .register-account .nav-tabs .nav-link:hover {
    border-color: 1px solid #6b6a73 !important;
}
.register-account .modal-data .nav-tabs .nav-item {
	width: 50%;
}
.register-account .modal-data inputgroup .fa:hover{
	cursor: pointer;
}
.register-account .modal-data .modal-selector .fa-caret-down:hover{cursor: pointer;}
.register-account .choose-data{padding: 5px 0px 30px;}
.register-account .choose-data .choose-account:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #242424;
    width: 40%;
    margin-left: 10px;
    top: 42%;
    background: #d2d1d1;
}
.register-account .choose-data .choose-account:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #242424;
    width: 40%;
    margin-left: 15px;
    top: 42%;
    left: -14px;
    background: #d2d1d1;
}
.register-account .choose-account{
    color: #6b6a73 !important;
    position: relative;
    text-decoration: none !important;
}
.register-account .login-link:hover{
    color:#fed90a !important;
}
.register-account .candidate{
    background-color: #6b6a73;
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    position: absolute;
    top: -20px;
    display: flex;
    margin: 0px 44%
}
.register-account .account-details p{
    font-style: italic;
    color:#6b6a73;
}
.register-account .account-details h4{
    color:#231f20;
}
#myModal .modal-dialog{
    max-width: 810px!important;
    background-color: transparent!important;
    /*margin-left: 15px !important;*/
    margin-top: 120px;
}
#myModal .modal-content{
    padding: 20px;
}
.register-account .modal-heading{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.register-account .modal-data inputgroup .fa{
    color: #6b6a73;
    position: absolute;
    bottom: 10px;
    right: 10px;}
/* .employer-data{background-color: #231f20 !important;} */


.register-account .modal-data inputgroup{
    border: 1px solid #b7b6b6;
    padding: 10px;
    position: relative;
}
.register-account .modal-data input{
    border:0px;
    /* height: 15px; */
    width: 93%;
}
.register-account .label-data{
    margin-top: 15px;
    margin-bottom: 6px;
}
.register-account .label-data label{
    font-size: 16px;
    color: #6b6a73;
}
.register-account .modal-data .phone{
    width: 96.5%;
}
.register-account .selector{
    /* -webkit-appearance: none; */
    width: 98.5%;
    height: 40px;
    padding: 0px 10px;
    margin-top: -10px;
    background-color: #fff;
}
.register-account .modal-selector{
    position: relative;
}
/* .modal-selector .fa-caret-down{
    position: absolute;
    right: 10px;
    bottom: 12px;
} */
.register-account .modal-data .empty-check{
    width: 2%;
    margin-right: 6px;
    height: 15px;
    cursor: pointer;
}
.register-account .privacy{    padding: 20px 0px;}
.register-account .accepts{
    font-size: 16px;
    color: #6b6a73;
    margin-bottom: 0px;
}
.accepts span a{
    color: #231f20;
    text-decoration: none;
}
.accepts span a:hover{
    color: #fed90a;
}
.register-account .btn-signup{
    background-color: #fed90a;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px 30px
}
 .register-account .btn-signup:hover{
    background-color:#e9c708;
    color:#fff;
}