<!DOCTYPE html>
<html>

<head>
	<title>Mindfull</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
	<!-- Main Style Css -->
	<link rel="stylesheet" href="../../assets/css/plugin.css" />
	<!-- Main Style Css -->
	<link rel="stylesheet" href="../../style.css"/>
	<!-- Responsive Style Css -->
	<!-- <link rel="stylesheet" href="../../assets/css/plugin.css" /> -->
	<link rel="stylesheet" href="./commonHeader.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<!-- navigation section-->
	<header id="navbar" class="nav-down">
		<div class=" d-flex mb-detail">
			<div class="contact-details d-flex">
				<div class="d-flex contact">
					<span>
						<a href="#" class="fa fa-envelope-o"></a>
						<a href="#">Support@mindfulqatar.com</a>
					</span>
				</div>
				<div class="d-flex contact">
					<span class="d-flex align-items-baseline">
						<a href="#" class="fa fa-volume-control-phone"></a>
						<a href="tel:123-456-7890">123-456-7890</a>
					</span>
				</div>
				<div class="contact">
					<p style="margin-bottom: 0px;">Working Hours:9:00 am to 5:00 pm</p>
				</div>
				<div class="basic-links ftr">
					<ul style="padding-top:10px;margin-bottom: 0px">
						<li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>
						<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"
									aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"
									aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="login-details d-flex float-right">
				<div class="d-flex pad-right30">
					<span>
						<!-- <a href="" class=""></a> -->
						<a href="../../pages/Login/Login.html" class=""><i class="fa fa-user-circle-o pr-1"></i>
							<span>Login</span></a>
					</span>
				</div>
				<div class="d-flex">
					<span>
						<!-- <a href="" class=""></a> -->
						<a href="../../pages/Register/Register.html" class=""><i
								class="fa fa-pencil-square-o pr-1"></i><span>Register</span></a>
					</span>
				</div>
				<div class="employers-Option">
					<li><a href="../../pages/Employers/Employers.html">Employers</a></li>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="index.html">
					<img src="../../assets/image/logos/logo.png">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse float-right " id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">Search Jobs <i
									class="fa fa-caret-down"></i></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="../../pages/AdvanceSearch/AdvanceSearch.html">Advanced
									Search</a>
								<a class="dropdown-item" href="../../pages/JobsByRole/JobsByRole.html">Jobs By Role</a>
								<a class="dropdown-item" href="../../pages/JobsBySector/JobsBySector.html">Jobs By
									Sector</a>
								<a class="dropdown-item" href="../../pages/JobsByLocation/JobsByLocations.html">Jobs By
									Location</a>
								<a class="dropdown-item" href="../../pages/JobsByCompany/JobsByCompany.html">Jobs By
									Companies</a>
								<a class="dropdown-item" href="../../pages/ExecutiveJobs/ExecutiveJobs.html">Executive
									Jobs</a>
								<a class="dropdown-item" href="../../pages/Salaries/Salaries.html">Salaries</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">Services <i
									class="fa fa-caret-down"></i></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="Energy.html">Energy</a>
								<a class="dropdown-item" href="Communication-automation.html">Communication &
									Automation</a>
								<a class="dropdown-item" href="Kabelhome.html">Kabel Home</a>
								<a class="dropdown-item" href="Smartcity.html">Smart City</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../pages/CompanyReviews/CompanyReviews.html">Company Reviews</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../pages/AboutUs/AboutUs.html">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link border-contact" href="../../pages/ContactUs/ContactUs.html">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- header end -->
	
	<!-- bootstrap script links -->
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/popper.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>

	<!-- plugin javascript -->
	<script src="../../assets/js/plugin.js"></script>
	<script src="owl.carousel.min.js"></script>
	<!-- navigation script -->


	<!-- Counter number script -->
	<script type="text/javascript">
		$('.counter').each(function () {
			var $this = $(this),
				countTo = $this.attr('data-count');

			$({ countNum: $this.text() }).animate({
				countNum: countTo
			},
				{
					duration: 1000,
					easing: 'linear',
					step: function () {
						$this.text(Math.floor(this.countNum));
					},
					complete: function () {
						$this.text(this.countNum);
						//alert('finished');
					}
				});
		});

		$(window).mousemove(function (e) {
			var change;
			var xpos = e.clientX; var ypos = e.clientY; var left = change * 50;
			var xpos = xpos * 2; ypos = ypos * 2;
			$('.banner-seo-img').css('top', ((0 + (ypos / 50)) + "px"));
			$('.banner-seo-img').css('right', ((0 + (xpos / 80)) + "px"));

		});
	</script>
</body>

</html>