
.huge{
	font-weight:700
}
.huge{
	font-family:open sans bolder,helvetica neue,Helvetica,Arial,sans-serif!important;
	color:#333
}
.no-margin{
	margin:0!important
}
.margin-top-10{
	margin-top:10px!important
}
.margin-top-20{
	margin-top:20px!important
}
.font-14{
	font-size:14px;
	line-height:14px
}
.white{
	color:#fff!important
}
.yellow{
	color:#eebb2b!important
}
.green{
	color:#26af1b!important
}
.separator{
	height:50px
}
.separator.xs{
	height:10px
}
.separator.small{
	height:30px
}
.side-light-blue{
	padding:15px 0;
	background-color:#e6effe
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
	.side-light-blue p{
		line-height:1.5;
		letter-spacing:-1px
}
}
.inner-menu-link a{
	font-weight:700;
	text-align:center;
	padding:20px 0;
	display:block;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none
}
.inner-menu-link{
	background:#feda39;
	width:100%;
	margin:0;
	position:relative;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
.inner-menu-link a{
	font-size:14px
}
.reviews-data{
	width:80px
}
.reviews-data .review-points{
	background-color:#26af1b;
	color:#fff;
	font-size:24px;
	text-align:center;
	padding:12px 0
}
.reviews-data .review-capture{
	background-color:#000;
	color:#fff;
	text-align:center;
	padding:5px 0
}
.head.prices{
	background-image:url(../images/web-design-prices.jpg);
	background-color:grey
}
.head h2{
	letter-spacing:-3px;
	margin:20px 0 0
}
.head,.head h2{
	color:#fff!important
}
.head{
	background-repeat:repeat-x;
	background-position:0 0;
	height:160px
}
.head h2{
	font-size:50px
}
.head strong{
	color:#fff
}
.relative{
	position:relative
}




/* bt.css */
body{
	margin:0
}

section{
	display:block
}
a{
	background-color:transparent
}
a:active,a:hover{
	outline:0
}
strong{
	font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif!important;
	font-weight:700
}
/*!Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css*/
@media print{
	*,:after,:before{
		background:0 0!important;
		color:#000!important;
		-webkit-box-shadow:none!important;
		box-shadow:none!important;
		text-shadow:none!important
}
	a,a:visited{
		text-decoration:underline
}
	a[href]:after{
		content:" (" attr(href) ")"
}
	h2,p{
		orphans:3;
		widows:3
}
	h2{
		page-break-after:avoid
}
}
html{
	font-size:10px;
	-webkit-tap-highlight-color:transparent
}
a{
	color:#4c88f9;
	text-decoration:none
}
a:focus,a:hover{
	color:#23527c;
	text-decoration:underline
}
a:focus{
	outline:dotted thin;
	outline:-webkit-focus-ring-color auto 5px;
	outline-offset:-2px
}
h2,h4,h5,h6{
	margin-top:10px;
	margin-bottom:10px;
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit
}
h2 strong,h4 strong{
	font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif!important;
	font-weight:700
}
h2{
	font-size:2.6em
}
h4{
	letter-spacing:-1px
}
h4{
	font-size:1.6em
}
h5{
	font-size:1.2em
}
h6{
	font-size:1em
}
p{
	margin:0 0 10px;
	line-height:1.7em
}
.small{
	font-size:85%
}
.text-left{
	text-align:left!important
}
.col-xs-1,.col-xs-11,.col-xs-12,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8,.col-xs-9{
	float:left
}
.text-right{
	text-align:right!important
}
.text-center{
	text-align:center!important
}
ol{
	margin-top:0
}
ol{
	margin-bottom:10px
}
@media(min-width:768px){
	.container{
		width:100%
}
}
.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
@media(min-width:992px){
	.container{
		width:100%
}
}
@media(min-width:1200px){
	.container{
		width:1148px
}
}
.row{
	margin-left:-5px;
	margin-right:-5px
}
.col-md-1,.col-md-10,.col-md-2,.col-md-3,.col-md-5,.col-md-7,.col-md-8,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-11,.col-xs-12,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8,.col-xs-9{
	position:relative;
	min-height:1px;
	padding-left:5px;
	padding-right:5px
}
.col-xs-12{
	width:100%
}
.col-xs-11{
	width:91.66666667%
}
.col-xs-9{
	width:75%
}
.col-xs-8{
	width:66.66666667%
}
.col-xs-6{
	width:50%
}
.col-xs-4{
	width:33.33333333%
}
.col-xs-3{
	width:25%
}
.col-xs-1{
	width:8.33333333%
}
@media(min-width:768px){
	.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
		float:left
}
	.col-sm-12{
		width:100%
}
	.col-sm-9{
		width:75%
}
	.col-sm-8{
		width:66.66666667%
}
	.col-sm-7{
		width:58.33333333%
}
	.col-sm-6{
		width:50%
}
	.col-sm-4{
		width:33.33333333%
}
	.col-sm-3{
		width:25%
}
	.col-sm-2{
		width:16.66666667%
}
}
@media(min-width:992px){
	.col-md-1,.col-md-10,.col-md-2,.col-md-3,.col-md-5,.col-md-7,.col-md-8{
		float:left
}
	.col-md-10{
		width:83.33333333%
}
	.col-md-8{
		width:66.66666667%
}
	.col-md-7{
		width:58.33333333%
}
	.col-md-5{
		width:41.66666667%
}
	.col-md-3{
		width:25%
}
	.col-md-2{
		width:16.66666667%
}
	.col-md-1{
		width:8.33333333%
}
}
.progress{
	overflow:hidden
}
.breadcrumb{
	padding:0 15px 8px;
	margin-bottom:20px;
	list-style:none;
	border-bottom:1px solid #f3f3fd
}
.breadcrumb>li{
	display:inline-block;
	font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
	font-size:14px
}
.breadcrumb>li a{
	color:#333;
	text-decoration:none
}
.breadcrumb>li a:hoder{
	color:#2765c7
}
.breadcrumb>li+li:before{
	content:'\232A';
	padding:0 0 0 10px;
	color:#c8c8c8;
	text-align:center;
	font-size:18px;
	position:relative;
	top:3px
}
@-moz-document url-prefix(){
	.breadcrumb>li+li:before{
		padding:0 10px;
		top:0
}
}
.progress{
	height:20px;
	margin-bottom:10px
}
.progress-bar{
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#2a61c9;
	-webkit-transition:width .6s ease;
	-o-transition:width .6s ease;
	transition:width .6s ease
}
.progress-bar-info{
	background-color:#e6effe
}
.container:after,.container:before,.row:after,.row:before{
	content:" ";
	display:table
}
.container:after,.row:after{
	clear:both
}
.visible-sm,.visible-xs{
	display:none!important
}
@-ms-viewport{
	width:device-width
}
@media(max-width:767px){
	.visible-xs{
		display:block!important
}
}
@media(min-width:768px) and (max-width:1024px){
	.visible-sm{
		display:block!important
}
}
@media(max-width:767px){
	.hidden-xs{
		display:none!important
}
}
@media(min-width:768px) and (max-width:1024px){
	.hidden-sm{
		display:none!important
}
}


/* default.css */
p{
	padding:5px 0;
	margin:0
}
div{
	margin:0;
	padding:0
}
a[href^=tel]{
	text-decoration:none
}
textarea#message-text:blur{
	box-shadow:none;
	border:0;
	outline:0
}
h2,h4,h5,h6{
	margin:20px 0
}
.row{
	position:relative
}
.progress-bar{
	background-color:#2a61c9
}
.progress-bar-info{
	background-color:#e6effe;
	height:20px;
	background-repeat:repeat-x
}
.row{
	margin-bottom:10px
}
.reviews-top{
	margin-top:35px!important
}
@media screen and (min-width:768px) and (max-width:1024px){
	.head{
		height:95px!important
}
	.head h2{
		margin-top:20px!important;
		font-size:40px!important
}
	.text-xs-center{
		text-align:center!important
}
	.inner-menu-link{
		margin-bottom:20px!important
}
	.reviews-top{
		margin-top:30px!important;
		text-align:center
}
}
@media only screen and (max-width:768px){
	.inner-menu-link{
		margin-bottom:6px!important;
		height:auto;
		padding:10px 0
}
	.inner-menu-link a{
		padding:0!important
}
}
@media only screen and (min-width:769px) and (max-width:1024px){
	.col-sm-4{
		width:33.33333333%
}
	.col-sm-12{
		width:100%
}
	.inner-menu-link{
		margin-bottom:6px!important;
		height:auto
}
	.inner-menu-link a{
		padding:10px 0!important
}
}
@media only screen and (min-width:320px) and (max-width:767px){
	h2,h4,h5,h6{
		letter-spacing:-1px;
		margin:5px 0 20px!important
}
	.text-xs-center{
		text-align:center!important
}
	p{
		text-align:justify
}
	h2{
		font-size:24px
}
	h4{
		font-size:18px
}
	.head h2{
		font-size:29px!important;
		color:#fff!important;
		margin:12px 0 0!important;
		text-align:center
}
	.head{
		height:60px!important
}
	.head h2{
		letter-spacing:-3px!important
}
	.reviews-data{
		width:70px
}
	.inner-menu-link{
		margin-bottom:6px!important
}
	[class^=icon-].big{
		font-size:32px;
		vertical-align:middle;
		line-height:32px
}
	.inline-block{
		display:inline-block!important
}
	.reviews-top{
		text-align:center
}
	.reviews-top{
		margin-top:25px!important
}
}
@media only screen and (min-width:320px) and (max-width:480px){
	.inner-menu-link{
		height:auto;
		margin-bottom:10px;
		padding:10px 0;
		width:100%!important;
		clear:both;
		overflow:hidden
}
	.inner-menu-link .container .row>div{
		padding:0!important;
		margin:0;
		text-align:left;
		float:left!important
}
	.inner-menu-link a{
		padding:0!important
}
}
@media only screen and (min-width:481px) and (max-width:767px){
	.inner-menu-link{
		height:auto;
		margin-bottom:10px;
		padding:10px 0;
		width:100%!important;
		clear:both;
		overflow:hidden
}
	.inner-menu-link .container .row>div{
		padding:0!important;
		margin:0;
		text-align:left;
		float:left!important
}
	.inner-menu-link a{
		padding:0!important
}
}
@media(max-width:1024px){
	.inner-menu-link{
		margin-bottom:0
}
}
@media(max-width:768px){
	.inner-menu-link{
		margin-bottom:0
}
}

/* Responsive styles */

body {
    background-color: #2156a9
}

.main-area {
    background: #fff
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #FFF url('images/loading.gif') no-repeat 50% 50%
}

/* Icons.css style code*/

@font-face{
	font-family:icon-fonts;
	src:url(fonts/icon-fonts.eot);
	src:url(fonts/icon-fonts.eot?#iefix) format('embedded-opentype'),url(fonts/icon-fonts.svg#icon-fonts) format('svg'),url(fonts/icon-fonts.woff) format('woff'),url(fonts/icon-fonts.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}
[class^=icon-].lg{
	font-size:20px;
	vertical-align:middle;
	line-height:20px
}
[class^=icon-].big{
	font-size:40px;
	vertical-align:middle;
	line-height:40px
}
[class^=icon-].huge{
	font-size:60px;
	vertical-align:middle;
	line-height:60px
}
[class^=icon-]:before{
	font-family:icon-fonts;
	font-style:normal;
	speak-as:none;
	font-weight:400;
	-webkit-font-smoothing:antialiased
}
.icon-home:before{
	content:"\e000"
}
.icon-star-3:before{
	content:"\e23c"
}
.icon-thumbs-up:before{
	content:"\e249"
}
.icon-checkmark-2:before{
	content:"\e283"
}