
	
	@media screen {
		.print-only {
			display: none!important
		}
	}
	
	@media screen and (min-width:1024px) {
		.search-bar:not(.is-active).is-compact>.input-pack,
		.search-bar:not(.is-active)>.b-close,
		.search-bar:not(.is-compact)>.b-search {
			display: none
		}
	}
	.salarybg-clr{
		background: #f4f4f4;
	}

    .range-chart {
        width: 100%;
        border-collapse: collapse;
    }
	.range-chart>thead>tr>th {
        font-size: 12px;
        font-size: .75rem;
        line-height: 1.66667;
        position: relative;
        padding-bottom: 10px;
        text-align: left;
        color: #a6afb9;
        border-bottom: 1px solid #e7e9ed;
    }
    .range-chart>thead>tr>th:last-child {
        width: 50%;
    }
    .range-chart>thead>tr>th>span {
        position: absolute;
        top: 0;
        bottom: 0;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .range-chart>tbody>tr>td {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.64286;
        position: relative;
        padding: 14px 0;
        color: #3b3b3b;
    }
    .range-chart>tbody>tr>td {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.64286;
        position: relative;
        padding: 14px 0;
        color: #3b3b3b;
    }
    .range-chart>tbody>tr>td>span:first-child {
        position: absolute;
        top: 50%;
        bottom: 0;
        height: 4px;
        border-radius: 2px;
        background-color: #e7e9ed;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    .range-chart>tbody>tr>td>span:last-child {
        position: absolute;
        top: 50%;
        bottom: 0;
        width: 15px;
        height: 15px;
        margin: 5px 0;
        border-radius: 100%;
        background-color: #2784fc;
        -ms-transform: translate(-50%,-100%);
        transform: translate(-50%,-100%);
    }
    .card:only-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
    }
	.icon {
		min-width: 18px
	}
	
	.slider {
		position: relative
	}
	
	.slider-arrow {
		color: transparent
	}
	
	.slider-arrows {
		position: absolute
	}
	
	.t-danger {
		color: #ff3b30
	}
	
	@font-face {
		font-family: icons;
		src: url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c4/css/Simple-Line-Icons-Pro-7b3a1bc7250cc109927aeb9365e3e6f7.eot);
		src: url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c4/css/Simple-Line-Icons-Pro-7b3a1bc7250cc109927aeb9365e3e6f7.eot#iefix) format("embedded-opentype"), url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c4/css/Simple-Line-Icons-Pro-c1e03ae2bb370c07ec80e233666a3bdd.woff) format("woff"), url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c4/css/Simple-Line-Icons-Pro-ed5fc7e449ef107102dbd0a9e51fc9c5.ttf) format("truetype"), url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c4/css/Simple-Line-Icons-Pro-d15b23562c07294e75a74e206d443995.svg#test) format("svg");
		font-display: optional;
		font-weight: 400;
		font-style: normal
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		src: local('Lato Light'), local('Lato-Light'), url(//fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 300;
		src: local('Lato Light'), local('Lato-Light'), url(//fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 700;
		src: local('Lato Bold'), local('Lato-Bold'), url(//fonts.gstatic.com/s/lato/v14/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
	}
	
	@font-face {
		font-family: Lato;
		font-style: normal;
		font-weight: 700;
		src: local('Lato Bold'), local('Lato-Bold'), url(//fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
		font-display: optional;
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
	}
	
	@font-face {
		font-family: 'Noto Kufi Arabic';
		font-style: normal;
		font-weight: 400;
		src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot);
		src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.ttf) format('truetype');
		font-display: optional
	}
	
	@font-face {
		font-family: 'Noto Kufi Arabic';
		font-style: normal;
		font-weight: 700;
		src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot);
		src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.ttf) format('truetype');
		font-display: optional
	}
	
	.list.is-basic,
	.list.is-basic>li {
		padding-left: 0
	}
	
	.box,
	.cover {
		margin: 0 auto
	}
	
	.cover,
	.row {
		display: flex
	}
	
	.popover,
	.popover-owner,
	button,
	hr,
	input {
		overflow: visible
	}
	
	.btn.is-outline,
	a {
		color: #2784fc
	}
	
	.btn,
	.btn.is-large,
	/* .dropdown, */
	.mobile-logo {
		line-height: 1
	}
	
	.popover,
	nav>.nav {
		text-align: left
	}
	
	.btn,
	.input,
	.nav>li>a>.icon {
		vertical-align: middle
	}
	
	.cover,
	.slider-image {
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: cover
    }
    .box {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }
	
	.btn,
	/* .dropdown>li>a, */
	.nav>li>a,
	.t-nowrap {
		white-space: nowrap
	}
	
	.accordion-title,
	.breadcrumb>li>a,
	/* .dropdown>li>a, */
	a {
		text-decoration: none
	}
	
	html {
		box-sizing: border-box;
		font-family: Lato, Noto Kufi Arabic, sans-serif;
		font-size: 16px;
		line-height: 1.67
	}
	
	hr {
		box-sizing: content-box;
		height: 0;
		width: 100%;
		padding: .5px 0;
		background-color: #e7e9ed;
		border: 0
	}
	
	.btn.is-inverse.is-outline,
	.btn.is-outline,
	.btn.is-secondary.is-outline,
	a {
		background-color: transparent
	}
	
	img {
		border-style: none
	}
	
	button,
	input,
	select {
		margin: 0;
		font-family: inherit
	}
	
	button,
	input {
		font-family: inherit
	}
	
	button,
	select {
		text-transform: none
	}
	
	*,
	:after,
	:before {
		box-sizing: inherit
	}
	
	body,
	html {
		padding: 0;
		margin: 0;
		background: #f4f4f4;
		color: #3b3b3b
	}
	
	.h4,
	h4 {
		font-size: 1.5rem
	}
	
	h6 {
		font-size: 1rem
	}
	
	.list {
		font-size: 16px;
		padding-left: 1em
	}
	
	.box,
	.col {
		padding: 10px
	}
	
	.list>li {
		padding-left: 1.375em;
		font-size: 1em;
		line-height: 1.625
	}
	
	.list.is-basic {
		list-style: none
	}
	
	.list.is-basic.is-spaced>li {
		padding: 6px 0
	}
	
	.box {
		max-width: 1000px
	}
	
	.cover {
		align-items: center;
		height: 460px
	}
	
	.cover>.box {
		text-align: center;
		width: 100%
	}
	
	.cover>.box>p {
		margin-bottom: 30px
	}
	.salarybg-clr .row{
		flex-flow: row wrap;
		flex: 1 0 auto;
		margin:0 auto;
	}
	.btn.is-outline {
		color: #2784fc;
		background-color: transparent;
		font-size: 1rem;
		line-height: 1;
		font-weight: 700;
		padding: 13px 27px;
		/* background-color: #2784fc; */
		border: 1px solid #2784fc;
		display: inline-block;
		overflow: hidden;
		border-radius: 4px;
		cursor: pointer;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}
	.btn.sal-btn{
	border: 1px solid #2784fc;
	display: inline-block;
	background-color: #2784fc;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	}
	.btn.postbtn{
	font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    padding: 13px 27px;
    background-color: #2784fc;
    border: 1px solid #2784fc;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	}
	.btn.is-round {
		border-radius: 100px;
	}
	/* .row {
		flex-flow: row wrap;
		flex: 1 0 auto
	} */
	
	.row.is-compact>.col {
		flex-grow: 0;
		padding: 3px
	}
	
	.row.h-align-center {
		justify-content: center
	}
	
	.row.h-align-between {
		justify-content: space-between
	}
	
	.row.v-align-center {
		align-items: center
	}
	
	.col {
		display: block;
		flex: 1 1 auto
	}
	
	.col.is-3 {
		flex: 0 0 auto;
		width: 25%
	}
	
	.col.is-4 {
		flex: 0 0 auto;
		width: 33.33333%
	}
	
	.col.is-8 {
		flex: 0 0 auto;
		width: 66.66667%
	}
	
	.col.is-11 {
		flex: 0 0 auto;
		width: 91.66667%
	}
	
	.col.is-12 {
		flex: 0 0 auto;
		width: 100%
	}
	
	.media {
		display: flex;
		align-items: flex-start
	}
	
	.media>img {
		margin-right: 1em
	}
	
	.media>div {
		flex: 1
	}
	
	.is-attached {
		position: absolute;
		z-index: 1
	}
	
	.is-attached[data-position=b] {
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(50%)
	}
	
	.is-attached[data-position=b].is-inner {
		transform: translate(0)
	}
	
	.is-attached.to-screen {
		position: fixed;
		height: auto;
		z-index: 5000
	}
	
	.popover {
		position: absolute;
		display: none;
		min-width: 270px;
		background-color: #fff;
		border: 1px solid #e7e9ed;
		border-radius: 5px;
		z-index: 10000;
		outline: 0
	}
	
	/* .dropdown>li, */
	/* .dropdown>li>a, */
	.has-attachments,
	.has-icon,
	.list-menu-group,
	.list-menu-title,
	.popover-owner,
	.select,
	.slider,
	.slider-content,
	.sticky-sense,
	.tip,
	nav>.nav {
		position: relative
	}
	
	.btn,
	.mobile-banner {
		background-color: #2784fc;
		color: #fff
	}
	
	.nav,
	nav {
		z-index: 5010
	}
	
	.mobile-banner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px
	}
	
	.mobile-content {
		display: block;
		flex: 1 1 auto
	}
	
	.mobile-logo {
		flex: 0 0 auto;
		padding: 4px;
		margin: 0 10px;
		border: 1px solid #fff;
		border-radius: 10px
	}
	
	.btn {
		font-size: 1rem;
		font-weight: 700;
		padding: 13px 27px;
		border: 1px solid #2784fc;
		display: inline-block;
		overflow: hidden;
		border-radius: 4px;
		text-align: center
	}
	
	.btn.is-inverse {
		color: #828a93;
		background-color: #fff;
		border-color: #fff
	}
	
	.btn.is-small {
		font-size: .875rem;
		padding: 11px 23px
	}
	
	.btn.is-large {
		font-size: 1.125rem;
		font-weight: 700;
		padding: 15px 31px
	}
	
	.btn.is-secondary {
		background-color: #828a93;
		border-color: #828a93
	}
	
	.card,
	.select,
	.select>.input {
		background-color: #fff
	}
	
	.btn.is-secondary.is-outline {
		color: #828a93
	}
	
	.btn.is-inverse.is-outline {
		color: #fff
	}
	
	.btn.is-round {
		border-radius: 100px
	}
	
	.btn+.btn {
		margin-left: 10px
	}
	
	.card {
		padding: 20px;
		border-radius: 4px
	}
	
	.card:only-child {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%
	}
	
	.card-head {
		padding-bottom: 10px
	}
	
	.card-foot {
		padding: 20px 0 0
	}
	
	/* .dropdown {
		list-style: none;
		padding: 10px 0;
		margin: 0;
		font-size: .875rem;
		color: #3b3b3b;
		overflow: visible
	} */
/* 	
	.dropdown>li>a {
		display: block;
		padding: 10px 20px;
		color: inherit;
		font-weight: 400
	} */
/* 	
	.dropdown>li.is-title {
		padding: 12px 20px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase
	} */
	
	.form-hint {
		font-size: .75rem;
		line-height: 1.66667;
		display: block;
		padding-top: 8px;
		margin-bottom: 32px;
		color: #a6afb9
	}
	
	.form-hint:empty,
	.toggler-active>:last-child {
		display: none
	}
	
	.nav>li>a,
	.select,
	.select>.input {
		display: inline-block
	}
	
	.icon {
		margin: 0 10px 0 0
	}
	
	.icon.is-48 {
		font-size: 48px;
		padding: 8px
	}
	
	.icon.is-smartphone:before {
		content: "\E8D9"
	}
	
	.icon.is-tie:before {
		content: "\E9AD"
	}
	
	.icon.is-apps:before {
		content: "\EB30"
	}
	
	.icon.is-bars:before {
		content: "\EB32"
	}
	
	.icon.is-search:before {
		content: "\EB4A"
	}
	
	.b-close:after {
		content: "\EB0C";
		color: #a6afb9
	}
	
	.b-close.is-inverse:after,
	.t-inverse {
		color: #fff
	}
	
	.b-close.is-large {
		font-size: 18px
	}
	
	.img-40,
	.img-apps {
		width: 40px;
		height: 40px
	}
	
	.img-apps.is-b {
		background-position: -40px 0
	}
	
	.img-apps.is-b-inverse {
		background-position: -120px -123px
	}
	
	.img-apps.is-specialties {
		background-position: -80px 0
	}
	
	.img-apps.is-learning {
		background-position: 0 -43px
	}
	
	.img-apps.is-people {
		background-position: -40px -43px
	}
	
	.img-apps.is-companies {
		background-position: -80px -43px
	}
	
	.img-apps.is-salaries {
		background-position: -120px 0
	}
	
	.img-apps.is-articles {
		background-position: -120px -40px
	}
	
	.img-apps.is-researches {
		background-position: 0 -83px
	}
	
	.img-apps.is-podcast {
		background-position: -40px -83px
	}
	
	.img-apps.is-blog {
		background-position: -80px -83px
	}
	
	.img-apps.is-shagheel,
	.img-countries.is-dz,
	.img-countries.is-dz.is-auto {
		background-position: 0 0
	}
	
	.img-logo.is-android {
		background-position: -162px -129px;
		width: 20px;
		height: 24px
	}
	
	.img-logo.is-iOS {
		background-position: -142px -129px;
		width: 20px;
		height: 24px
	}
	
	.img-logo.is-logo-inverse {
		background-position: -187px -66px;
		width: 101px;
		height: 22px
	}
	
	.img-logo.is-logo {
		background-position: -187px 0;
		width: 101px;
		height: 22px
	}
	
	.input {
		width: auto;
		font-size: 1rem;
		line-height: 1;
		height: 44px;
		padding: 14px;
		border: 1px solid #a6afb8;
		border-radius: 2px;
		outline: 0;
		background-image: none
	}
	
	.list-menu,
	.nav {
		font-size: .875rem
	}
	
	.input.is-large:not(textarea),
	.input.is-small:not(textarea),
	.input:not(textarea) {
		padding-top: 0;
		padding-bottom: 0
	}
	
	.input.is-large {
		font-size: 1.125rem;
		line-height: 1;
		height: 50px;
		padding: 16px
	}
	
	select.input {
		padding: 0 12px;
		line-height: 2
	}
	
	.select {
		width: 100%;
		overflow: visible
	}
	
	.select:before {
		background: #fff;
		width: 35px;
		top: 3px;
		bottom: 3px;
		right: 3px;
		border-radius: 0 2px 2px 0
	}
	
	.select:after,
	.select:before,
	.steps>li:after,
	.steps>li:before {
		content: "";
		position: absolute
	}
	
	.select:after {
		right: 17.5px;
		top: calc(50% - 2px);
		width: 10px;
		height: 10px;
		border: 1px solid #b9bfcb;
		border-width: 0 1px 1px 0;
		transform: translate(-50%, -50%) rotate(45deg);
		z-index: 2
	}
	
	.select>.input {
		width: 100%;
		line-height: 1.5;
		appearance: none;
		padding-right: 36px
	}
	
	.list-menu {
		line-height: 1.64285;
		width: 360px;
		color: #a6afb9
	}
	
	.list-menu-title {
		color: #3b3b3b;
		padding: 16px
	}
	
	.list-menu-group,
	.nav {
		padding: 0;
		margin: 0;
		list-style: none
	}
	
	.bb,
	.list-menu-title:first-child {
		border-bottom: 1px solid #e7e9ed
	}
	
	.list-menu-group {
		overflow: auto;
		min-height: 270px;
		max-height: 480px;
		border-top: 1px solid #e7e9ed
	}
	
	.list-menu-title+.list-menu-group {
		border-top: 0
	}
	
	.nav {
		line-height: 1.07357;
		display: flex;
		background-color: #2784fc
	}
	
	.bg-inverse,
	.searchable,
	footer {
		background-color: #fff
	}
	
	.nav>li {
		flex: 0 0 auto;
		order: 50;
		align-self: center;
		padding-bottom: 1px
	}
	
	.nav>li>a {
		padding: 28px 10px;
		color: #fff;
		line-height: 1.14286
	}
	
	.nav>li>a>.icon {
		margin: 0;
		font-size: inherit;
		color: #a6afb9
	}
	
	.nav>li.is-group {
		margin: 0 20px
	}
	
	.nav.is-aux {
		font-size: 1.125rem;
		line-height: 1.02056;
		justify-content: center
	}
	
	.nav.is-aux>li {
		padding-bottom: 0
	}
	
	.nav.is-aux>li>a {
		padding: 14px 15px 18px 5px
	}
	
	.nav.is-aux.is-small>li>a {
		font-size: 14px
	}
	
	.breadcrumb>li:last-child,
	.dark-links>a {
		color: #3b3b3b
	}
	
	.slider {
		z-index: 1
	}
	
	.slider-content {
		z-index: 9
	}
	
	.slider-item {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		opacity: 0;
		z-index: 2
	}
	
	.slider-item.is-visible {
		opacity: 1;
		z-index: 3
	}
	
	.slider-image {
		height: 100%;
		width: 100%
	}
	
	.slider-caption {
		position: absolute;
		display: inline-block;
		right: 20px;
		bottom: 36px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase
	}
	
	.m0 {
		margin: 0!important
	}
	
	.m0r {
		margin-right: 0!important
	}
	
	.p0 {
		padding: 0!important
	}
	
	.m10 {
		margin: 10px!important
	}
	
	.m10r,
	.m10x {
		margin-right: 10px!important
	}
	
	.m10b,
	.m10y {
		margin-bottom: 10px!important
	}
	
	.m10t,
	.m10y {
		margin-top: 10px!important
	}
	
	.p10 {
		padding: 10px!important
	}
	
	.p10x {
		padding-right: 10px!important;
		padding-left: 10px!important
	}
	
	.p10b,
	.p10y {
		padding-bottom: 10px!important
	}
	
	.p10t,
	.p10y {
		padding-top: 10px!important
	}
	
	.m20b,
	.m20y {
		margin-bottom: 20px!important
	}
	
	.m20t,
	.m20y {
		margin-top: 20px!important
	}
	
	.p20b,
	.p20y {
		padding-bottom: 20px!important
	}
	
	.p20t,
	.p20y {
		padding-top: 20px!important
	}
	
	.m40l {
		margin-left: 40px!important
	}
	
	.m40t {
		margin-top: 40px!important
	}
	
	.p40l {
		padding-left: 40px!important
	}
	
	.u-abs {
		position: absolute!important
	}
	
	.u-iblock {
		display: inline-block!important
	}
	
	.u-right {
		float: right!important
	}
	
	.u-hide {
		visibility: hidden!important
	}
	
	.u-none {
		display: none!important
	}
	
	.t-left {
		text-align: left!important
	}
	
	.t-center {
		text-align: center!important
	}
	
	.t-nowrap {
		overflow: hidden;
		text-overflow: ellipsis
	}
	
	.media-list>li,
	.t-wrap {
		white-space: normal
	}
	
	.t-light {
		font-weight: 300
	}
	
	.t-small {
		font-size: .875rem;
		line-height: 1.67
	}
	
	.t-large {
		font-size: 1.125rem;
		line-height: 1.67
	}
	
	.b-search>.icon,
	.t-primary {
		color: #2784fc
	}
	
	.list.t-mute>li>a,
	.t-mute {
		color: #a6afb9
	}
	
	a:not(.btn):not(.b-close):not(.label).is-inverse {
		color: #fff;
		text-decoration: underline
	}
	
	small {
		font-size: 80%
	}
	
	.h5,
	h5 {
		font-size: 1.25rem
	}
	
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
		margin: 0 0 .5em;
		color: #000
	}
	
	.list.is-tabular {
		list-style: none;
		padding: 0;
		margin: 0;
		display: table;
		table-layout: fixed;
		width: 100%
	}
	
	.list.is-tabular>li {
		display: table-cell;
		padding-left: 0;
		float: left;
		width: 100%
	}
	
	.col.is-6 {
		flex: 0 0 auto;
		width: 50%
	}
	
	.img-70 {
		width: 70px;
		height: 70px
	}
	
	.searchable {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow: visible;
		border-radius: 2px
	}
	
	.u-block,
	.u-expanded {
		display: block!important
	}
	
	.accordion-animate,
	.card-banner,
	.media-list>li>div {
		overflow: hidden
	}
	
	.searchable>.input {
		position: relative;
		width: 100%;
		background-color: transparent
	}
	
	.media-list {
		list-style: none;
		padding: 0;
		margin: 0
	}
	
	.media-list>li {
		position: relative;
		padding: 0;
		word-break: break-word
	}
	
	.media-list>li>img {
		float: left;
		border-radius: 100px;
		margin-right: 32px
	}
	
	.media-list:not(.has-free-img)>li>img {
		width: 65px;
		height: 65px
	}
	
	.media-list.is-spaced>li {
		padding: 10px 0
	}
	
	.u-expanded {
		width: 100%!important
	}
	
	.u-left {
		float: left!important
	}
	
	a:not(.btn):not(.b-close):not(.label).is-black {
		color: #000;
		text-decoration: underline
	}
	
	.h1,
	h1 {
		font-size: 2.875rem
	}
	
	.box.is-wide {
		max-width: 1440px
	}
	
	.row.v-align-stretch {
		align-items: stretch
	}
	
	.input.is-small {
		font-size: .875rem;
		line-height: 1;
		height: 38px;
		padding: 12px
	}
	
	.b-search {
		width: 44px;
		height: 44px;
		margin-left: 10px;
		background: #fff;
		font-size: 16px;
		border: none;
		border-radius: 100%
	}
	
	.card+.card {
		margin-top: 20px
	}
	
	.p10r {
		padding-right: 10px!important
	}
	
	.u-stretch {
		width: 100%!important
	}
	
	.card-banner {
		margin: -20px -20px 10px;
		border-radius: 4px 4px 0 0
	}
	
	.card-banner:only-child {
		position: relative;
		margin: -20px;
		border-radius: 4px
	}
	
	.card-banner:only-child>div:first-child {
		display: block;
		position: relative;
		max-width: 100%
	}
	
	.card-banner:only-child>div:first-child:before,
	.embed:before {
		content: "";
		display: block;
		padding-top: 100%
	}
	
	.card-banner:only-child>div:first-child>img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
	
	.card-banner:only-child>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 1.25rem;
		line-height: 1.5;
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	
	.card-banner:only-child>a>span {
		text-align: center;
		color: #fff
	}
	
	.card-banner:only-child>a>span:first-child {
		padding-bottom: 25px;
		font-weight: 700
	}
	
	.img-countries {
		width: 350px;
		height: 350px
	}
	
	.img-countries.is-auto {
		width: 100%;
		height: auto;
		background-size: 2000%
	}
	
	.img-countries.is-bh {
		background-position: -350px 0
	}
	
	.img-countries.is-bh.is-auto {
		background-position: 5.2631578947368425% 0
	}
	
	.img-countries.is-dubai {
		background-position: -700px 0
	}
	
	.img-countries.is-dubai.is-auto {
		background-position: 10.526315789473685% 0
	}
	
	.img-countries.is-eg {
		background-position: -1050px 0
	}
	
	.img-countries.is-eg.is-auto {
		background-position: 15.789473684210526% 0
	}
	
	.img-countries.is-in {
		background-position: -1750px 0
	}
	
	.img-countries.is-in.is-auto {
		background-position: 26.31578947368421% 0
	}
	
	.img-countries.is-xx {
		background-position: -2100px 0
	}
	
	.img-countries.is-xx.is-auto {
		background-position: 31.57894736842105% 0
	}
	
	.img-countries.is-iq {
		background-position: -2450px 0
	}
	
	.img-countries.is-iq.is-auto {
		background-position: 36.8421052631579% 0
	}
	
	.img-countries.is-jo {
		background-position: -2800px 0
	}
	
	.img-countries.is-jo.is-auto {
		background-position: 42.10526315789474% 0
	}
	
	.img-countries.is-kw {
		background-position: -3150px 0
	}
	
	.img-countries.is-kw.is-auto {
		background-position: 47.36842105263158% 0
	}
	
	.img-countries.is-lb {
		background-position: -3500px 0
	}
	
	.img-countries.is-lb.is-auto {
		background-position: 52.63157894736842% 0
	}
	
	.img-countries.is-ma {
		background-position: -4200px 0
	}
	
	.img-countries.is-ma.is-auto {
		background-position: 63.1578947368421% 0
	}
	
	.img-countries.is-om {
		background-position: -4550px 0
	}
	
	.img-countries.is-om.is-auto {
		background-position: 68.42105263157895% 0
	}
	
	.img-countries.is-pk {
		background-position: -4900px 0
	}
	
	.img-countries.is-pk.is-auto {
		background-position: 73.6842105263158% 0
	}
	
	.img-countries.is-qa {
		background-position: -5250px 0
	}
	
	.img-countries.is-qa.is-auto {
		background-position: 78.94736842105263% 0
	}
	
	.img-countries.is-sa {
		background-position: -5600px 0
	}
	
	.img-countries.is-sa.is-auto {
		background-position: 84.21052631578948% 0
	}
	
	.img-countries.is-lk {
		background-position: -5950px 0
	}
	
	.img-countries.is-lk.is-auto {
		background-position: 89.47368421052632% 0
	}
	
	.img-countries.is-tn {
		background-position: -6300px 0
	}
	
	.img-countries.is-tn.is-auto {
		background-position: 94.73684210526316% 0
	}
	
	.img-countries.is-ae {
		background-position: -6650px 0
	}
	
	.img-countries.is-ae.is-auto {
		background-position: 100% 0
	}
	
	.p20 {
		padding: 20px!important
	}
	
	.img-120 {
		width: 120px;
		height: 120px
	}
	
	[type=checkbox],
	[type=radio] {
		box-sizing: border-box;
		padding: 0
	}
	
	footer {
		margin-top: 16px
	}
	
	.btn.is-facebook {
		background-color: #2e579f;
		border-color: #2e579f
	}
	
	.btn.is-g-plus {
		background-color: #ec382d;
		border-color: #ec382d
	}
	
	.form {
		padding: 48px
	}
	
	.form.is-compact {
		padding: 3px
	}
	
	.form.is-compact>.form-section {
		margin-top: 24px
	}
	
	.form-value:only-child,
	.form.is-compact>.form-section>.form-item>.form-value {
		width: 100%;
		padding-right: 0
	}
	
	.form-section {
		margin-top: 48px
	}
	
	.form-footer {
		padding: 28px 0 28px 30%;
		background-color: inherit
	}
	
	.form-item {
		margin-top: 16px;
		display: table;
		width: 100%
	}
	
	.form-label {
		font-size: .875rem;
		line-height: 1.57143;
		display: table-cell;
		width: 30%;
		padding: 0 20px 12px 0;
		vertical-align: top
	}
	
	.form-value {
		display: table-cell;
		width: 70%;
		padding-right: 84px
	}
	
	.accordion-toggle+.accordion-title:after,
	.b-close,
	.icon,
	input[type=file].input+label>.file-content>.file-icon {
		display: inline-block;
		text-align: center;
		font-family: icons;
		font-style: normal;
		font-weight: 400;
		line-height: .8125;
		vertical-align: middle
	}
	
	.breadcrumb,
	.t-xlarge,
	.t-xsmall {
		line-height: 1.67
	}
	
	.icon.is-facebook:before {
		content: "\EC9E"
	}
	
	.icon.is-g-plus:before {
		content: "\ECA8"
	}
	
	.accordion-toggle,
	input[type=checkbox].input,
	input[type=file].input,
	input[type=radio].input {
		position: absolute;
		width: .1px;
		height: .1px;
		opacity: 0;
		overflow: hidden;
		z-index: -1
	}
	
	input[type=checkbox].input+label {
		padding: 12px 12px 12px 31px;
		font-size: 16px;
		line-height: 1.25;
		position: relative;
		display: block;
		border: none
	}
	
	input[type=checkbox].input+label:after,
	input[type=checkbox].input+label:before {
		content: "";
		position: absolute;
		top: 12px
	}
	
	input[type=checkbox].input+label:before {
		width: 20px;
		height: 20px;
		left: 3px;
		border-radius: 2px;
		border: 1px solid #a6afb8
	}
	
	input[type=checkbox].input+label:after {
		top: 15px;
		left: 10px;
		width: 6px;
		height: 12px;
		display: none;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg)
	}
	
	.accordion-animate>.accordion-content,
	.tab.is-active,
	aside,
	footer,
	input[type=checkbox].input:checked+label:after,
	nav,
	section {
		display: block
	}
	
	input[type=checkbox].input:checked+label:before {
		background-color: #2784fc;
		border: none
	}
	
	input[type=file].input+label {
		position: relative;
		display: block;
		margin: 10px 0;
		padding: 20px 0;
		border: 1px dashed #a6afb8;
		border-radius: 2px;
		color: #a6afb9;
		text-align: center;
		line-height: 1
	}
	
	.input[type=file][data-state=ready]+label>.file-content>.file-icon:before {
		content: "\EAC1"
	}
	
	.card-banner>a>img,
	.card-banner>img,
	.form-value>.input {
		width: 100%
	}
	
	.p0l {
		padding-left: 0!important
	}
	
	.t-xsmall {
		font-size: .75rem
	}
	
	.form-item.is-stack>.form-label,
	.list.is-basic.is-spaced.is-compact>li {
		padding: 0 0 8px
	}
	
	.list.is-tabular.of-6>li {
		width: 16.66667%;
		padding-right: 10px
	}
	
	.form.is-basic:not(.in-modal)>.form-footer>.btn {
		display: block;
		width: 100%
	}
	
	.form.is-basic>.form-footer {
		padding: 32px 0
	}
	
	.p0t {
		padding-top: 0!important
	}
	
	.m20 {
		margin: 20px!important
	}
	
	b,
	strong {
		font-weight: bolder
	}
	
	.is-attached[data-position=f] {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
	
	.breadcrumb {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: .875rem;
		color: #828a93
	}
	
	.breadcrumb>li,
	.input-group_inline>.input[type=radio]+label {
		display: inline-block;
		vertical-align: middle
	}
	
	.breadcrumb>li:after {
		content: "\E806";
		margin: 0 10px;
		font-size: .5rem;
		line-height: 1.04375;
		font-family: icons
	}
	
	.breadcrumb>li:last-child:after {
		content: none
	}
	
	.breadcrumb>li>a {
		color: inherit
	}
	
	.m40b {
		margin-bottom: 40px!important
	}
	
	.h2,
	h2 {
		font-size: 2.25rem
	}
	
	.cover.from-bottom {
		background-position-y: 100%
	}
	
	.cover.is-compact {
		height: 320px
	}
	
	.btn.is-royal {
		background-color: #38526d;
		border-color: #38526d
	}
	
	.btn.is-success,
	.tag.is-success:not(.is-outline) {
		background-color: #4cd964
	}
	
	.btn.is-success,
	.steps>.step-active:before,
	.tag.is-success {
		border-color: #4cd964
	}
	
	/* .dropdown>li>a:not(:only-child):before {
		content: "";
		position: absolute;
		right: 10px;
		top: 50%;
		width: 10px;
		height: 10px;
		border: 1px solid #a6afb8;
		border-width: 0 1px 1px 0;
		transform: translate(-100%, -50%) rotate(-45deg)
	} */
/* 	
	.dropdown>li.has-divider {
		margin-top: 10px;
		padding-top: 10px
	}
	
	.dropdown>li.has-divider:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #e7e9ed
	}
	
	.dropdown>li.is-title.has-divider {
		padding-top: 20px
	} */
	
	.icon.is-32 {
		font-size: 32px;
		padding: 7px
	}
	
	.icon.is-64 {
		font-size: 64px;
		padding: 8px
	}
	
	.icon.is-cart:before {
		content: "\E902"
	}
	
	.icon.is-shop:before {
		content: "\E919"
	}
	
	.icon.is-briefcase:before {
		content: "\E937"
	}
	
	.icon.is-ellipsis-v:before {
		content: "\EB53"
	}
	
	.icon.is-gift:before {
		content: "\EC52"
	}
	
	.img-apps.is-talentera {
		background-position: -120px -83px
	}
	
	.img-apps.is-source2hire {
		background-position: -160px 0
	}
	
	.img-apps.is-e-salaries {
		background-position: -160px -40px
	}
	
	.img-apps.is-tests {
		background-position: -160px -80px
	}
	
	.img-apps.is-vfairs {
		background-position: 0 -123px
	}
	
	.img-apps.is-ads {
		background-position: -40px -123px
	}
	
	.img-logo.is-emp-logo {
		background-position: 0 -88px;
		width: 103px;
		height: 41px
	}
	
	.img-logo.is-emp {
		background-position: 0 0;
		width: 187px;
		height: 22px
	}
	
	.tab {
		display: none;
		padding: 0 0 10px
	}
	
	.p0b {
		padding-bottom: 0!important
	}
	
	.icon.is-arrow-right:before {
		content: "\E806"
	}
	
	input[type=radio].input+label {
		padding: 12px 12px 12px 29px;
		font-size: 16px;
		line-height: 1.25;
		position: relative;
		display: block;
		border: none
	}
	
	input[type=radio].input+label:after,
	input[type=radio].input+label:before {
		width: 18px;
		height: 18px;
		content: "";
		position: absolute;
		top: 13px;
		left: 3px;
		border-radius: 100%
	}
	
	input[type=radio].input+label:before {
		border: 1px solid #a6afb8
	}
	
	input[type=radio].input:checked+label:before {
		border: none
	}
	
	.t-xlarge {
		font-size: 1.25rem
	}
	
	.t-success {
		color: #4cd964
	}
	
	.icon.is-20 {
		font-size: 20px;
		padding: 6px
	}
	
	.icon.is-check:before {
		content: "\EB0B"
	}
	
	.icon.is-lock:before {
		content: "\EB45"
	}
	
	.img-logo.is-MasterCard {
		background-position: -103px -129px;
		width: 39px;
		height: 30px
	}
	
	.img-logo.is-PayPal {
		background-position: -103px -88px;
		width: 75px;
		height: 20px
	}
	
	.img-logo.is-Visa {
		background-position: -103px -108px;
		width: 60px;
		height: 20px
	}
	
	.cover>.box>.h1,
	.cover>.box>h1 {
		font-size: 2.25rem;
		line-height: 1.19444;
		margin-bottom: 20px
	}
	
	.steps {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 26px
	}
	
	.steps>li {
		position: relative;
		padding-left: 36px;
		padding-bottom: 10px
	}
	
	.steps>li:before {
		top: 1px;
		left: 2px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 1px solid #e7e9ed
	}
	
	.steps>li:after {
		content: none;
		position: absolute;
		left: 11px;
		top: 6px;
		width: 6px;
		height: 12px;
		border: solid #4cd964;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg)
	}
	
	.steps.is-compact {
		display: inline-block
	}
	
	.steps>.step-active:after {
		content: ""
	}
	
	.m0t {
		margin-top: 0!important
	}
	
	.p20x {
		padding-right: 20px!important;
		padding-left: 20px!important
	}
	
	.m40x {
		margin-right: 40px!important;
		margin-left: 40px!important
	}
	
	.p40 {
		padding: 40px!important
	}
	
	.h3,
	h3 {
		font-size: 1.75rem
	}
	
	.icon.is-forward:before {
		content: "\E812"
	}
	
	.icon.is-crown:before {
		content: "\EE0A"
	}
	
	.p40y {
		padding-bottom: 40px!important;
		padding-top: 40px!important
	}
	
	.icon.is-bank:before {
		content: "\E95C"
	}
	
	.icon.is-people:before {
		content: "\EDD2"
	}
	
	.bg-underlay {
		background-color: rgba(51, 51, 51, .5)
	}
	
	.icon.is-inbox-full:before {
		content: "\E86C"
	}
	
	.icon.is-tasks-checked:before {
		content: "\E9AC"
	}
	
	.m0x {
		margin-right: 0!important;
		margin-left: 0!important
	}
	
	.accordion-content,
	.accordion-title {
		border-top: 1px solid #e7e9ed;
		position: relative
	}
	
	.t-regular {
		font-size: 1rem;
		line-height: 1.67;
		color: #3b3b3b
	}
	
	.bg-mute {
		background-color: #f4f4f4
	}
	
	.list.is-tabular.of-3>li {
		width: 33.33333%;
		padding-right: 10px
	}
	
	.form-item.is-stack>.form-label,
	.form-item.is-stack>.form-value {
		display: block;
		width: auto
	}
	
	.form-item.is-stack>.form-value {
		padding-right: 0
	}
	
	[type=search] {
		outline-offset: -2px
	}
	
	.sticky-sidebar {
		will-change: min-height
	}
	
	.toggle-head {
		padding: 15px 20px
	}
	
	.accordion {
		font-size: 14px;
		border-bottom: 1px solid #e7e9ed
	}
	
	.accordion-toggle:checked+.accordion-title,
	.dlist>div>dt {
		font-weight: 700
	}
	
	.accordion-toggle:checked+.accordion-title+.accordion-animate {
		max-height: 1000px;
		opacity: 1
	}
	
	.accordion-toggle:checked+.accordion-title:after {
		transform: translateY(-50%) rotate(180deg)
	}
	
	.accordion-toggle+.accordion-title:after {
		content: "\E804";
		position: absolute;
		top: 50%;
		right: 20px;
		color: #b9bfcb;
		transform-origin: 50%;
		transform: translateY(-50%)
	}
	
	.accordion-title {
		font-size: 14px;
		display: block;
		padding: 5px 20px;
		margin: 0;
		color: #3b3b3b
	}
	
	.accordion-animate {
		max-height: 0;
		opacity: .5
	}
	
	.accordion-content {
		display: none;
		padding: 10px 20px
	}
	
	.btn.is-clear {
		color: #3b3b3b;
		background-color: transparent;
		border-color: transparent
	}
	
	.btn.is-xsmall {
		font-size: .75rem;
		padding: 9px 19px
	}
	
	.btn.is-small,
	.btn.is-xsmall {
		line-height: 1;
		font-weight: 700
	}
	
	.card.is-compact {
		padding: 10px
	}
	
	.icon.is-salary:before {
		content: "\E989"
	}
	
	.icon.is-filter:before {
		content: "\EC51"
	}
	
	.b-close.is-tiny {
		font-size: 10px
	}
	
	.has-icon>.icon {
		position: absolute;
		top: 50%;
		right: 12px;
		margin: auto;
		color: #a6afb9;
		transform: translateY(-50%)
	}
	
	.tag,
	.tip:before {
		color: #fff;
		white-space: nowrap
	}
	
	.has-icon>.input {
		padding-right: 39px
	}
	
	.bt,
	.media-list.in-card.is-divided,
	.media-list.is-divided>li:not(:first-child) {
		border-top: 1px solid #e7e9ed
	}
	
	.tag {
		font-size: .625rem;
		line-height: 14px;
		display: inline-block;
		margin-right: 5px;
		padding: 5px 10px;
		border: 1px solid #2784fc;
		border-radius: 4px;
		text-align: center
	}
	
	.tag:not(.is-outline) {
		background-color: #2784fc
	}
	
	.tag.is-round {
		border-radius: 13px
	}
	
	.p0r {
		padding-right: 0!important
	}
	
	.m10l,
	.m10x {
		margin-left: 10px!important
	}
	
	.p10l {
		padding-left: 10px!important
	}
	
	.t-right {
		text-align: right!important
	}
	
	a:not(.btn):not(.b-close):not(.label).is-gray {
		color: #a6afb9;
		text-decoration: underline
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 .5em
	}
	
	.dlist {
		font-size: 16px;
		line-height: 1.625
	}
	
	.dlist>div>dd {
		margin-left: 0;
		color: #3b3b3b
	}
	
	.dlist.is-spaced>div>dd,
	.dlist.is-spaced>div>dt {
		padding-top: 4px;
		padding-bottom: 4px
	}
	
	.box.is-large {
		max-width: 1200px
	}
	
	.row.h-align-left {
		justify-content: flex-start
	}
	
	.card-content.is-spaced {
		padding-top: 40px
	}
	
	.icon.is-email:before {
		content: "\E854"
	}
	
	.icon.is-email-send:before {
		content: "\E868"
	}
	
	.icon.is-bell:before {
		content: "\EB5A"
	}
	
	.icon.is-share-alt:before {
		content: "\EB78"
	}
	
	.icon.is-fb-messanger:before {
		content: "\EC9D"
	}
	
	.icon.is-twitter:before {
		content: "\ECC4"
	}
	
	.icon.is-whatsapp:before {
		content: "\ECC8"
	}
	
	.tip:after,
	.tip:before {
		display: none;
		font-size: 12px;
		line-height: 1.5;
		z-index: 2147483647
	}
	
	.tip:before {
		content: attr(aria-label);
		position: absolute;
		border: 0 transparent;
		background-color: #363636;
		padding: 6px;
		border-radius: 4px
	}
	
	.tip:after {
		content: "";
		width: 14px;
		height: 14px;
		position: absolute;
		border: 8px solid transparent
	}
	
	.tip.on-top:before {
		top: -14px;
		left: 50%;
		transform: translate(-50%, -100%)
	}
	
	.tip.on-top:after {
		border-top-color: #363636;
		top: -15px;
		left: 50%;
		transform: translateX(-50%)
	}
	
	.t-break {
		word-break: break-word;
		word-wrap: break-word;
		overflow-wrap: break-word
	}
	
	.row.h-align-right {
		justify-content: flex-end
	}
	
	.is-attached[data-position=bc] {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%)
	}
	
	.is-attached.is-fluid {
		max-width: 750px;
		height: auto;
		width: 70%;
		margin: 0 auto
	}
	
	.is-attached[data-position=c] {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	
	.btn.is-twitter {
		background-color: #049ff6;
		border-color: #049ff6
	}
	
	.icon.is-download:before {
		content: "\EB1A"
	}
	
	.icon.is-share:before {
		content: "\EB76"
	}
	
	.icon.is-play-circle:before {
		content: "\EC15"
	}
	
	.icon.is-heart:before {
		content: "\EE13"
	}
	
	.tip.on-bottom:before {
		bottom: -14px;
		left: 50%;
		transform: translate(-50%, 100%)
	}
	
	.tip.on-bottom:after {
		border-bottom-color: #363636;
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%)
	}
	
	.m20l {
		margin-left: 20px!important
	}
	
	.p40t {
		padding-top: 40px!important
	}
	
	.embed {
		position: relative;
		display: block;
		width: 100%;
		padding: 0;
		overflow: hidden
	}
	
	.embed>.embedded {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0
	}
	
	.embed.is-21by9:before {
		padding-top: 42.85714%
	}
	
	.btn.is-linkedin {
		background-color: #007bb6;
		border-color: #007bb6
	}
	
	.icon.is-linkedin:before {
		content: "\ECB1"
	}
	
	.m40y {
		margin-bottom: 40px!important;
		margin-top: 40px!important
	}
	
	.u-spready {
		display: flex;
		justify-content: space-between;
		flex-flow: column nowrap
	}
	
	@media screen and (max-width:1023px) {
		.col.is-12-m,
		.in-pack,
		.nav>li.is-first,
		.popover {
			width: 100%
		}
		.can-toggle.is-m,
		.nav,
		.nav.can-toggle {
			background-color: #fff
		}
		.h4,
		h4 {
			font-size: 1.375rem
		}
		h6 {
			font-size: .875rem
		}
		.cover>.box>p {
			margin-bottom: 40px
		}
		.cover {
			padding: 30px 0
		}
		.row {
			flex-flow: column nowrap
		}
		.row.is-m {
			flex-flow: row wrap
		}
		.popover-owner.has-pointer:before {
			content: "";
			position: absolute;
			top: 14px;
			right: 20px;
			width: 10px;
			height: 10px;
			border: 1px solid #3b3b3b;
			border-width: 0 1px 1px 0;
			transform: rotate(45deg)
		}
		.popover {
			overflow: auto;
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;
			max-height: 75vh;
			border-radius: 0;
			transform: translate3d(0, 100%, 0)
		}
		.popover.is-inline {
			display: none;
			position: relative;
			max-height: none;
			padding-left: 10px;
			transform: none;
			border: none;
			overflow: visible
		}
		.popover.is-full {
			top: 0;
			max-height: none;
			transform: translate3d(100%, 0, 0)
		}
		.card {
			padding: 16px;
			border-radius: 0
		}
		/* .dropdown>li.is-title,
		.dropdown>li>a {
			padding: 14px 20px
		}
		.dropdown.in-nav {
			color: #3b3b3b
		}
		.dropdown.in-nav>li>a {
			padding: 7px 20px
		} */
		.in-pack,
		.input-pack {
			display: block
		}
		.in-pack:not(:last-child) {
			margin-bottom: 16px
		}
		.list-menu {
			display: flex;
			width: auto;
			height: 100%;
			flex-direction: column;
			overflow: hidden
		}
		.col.is-12-m,
		.list-menu-title {
			flex: 0 0 auto
		}
		.list-menu-group {
			overflow: auto;
			flex: 1 1 auto;
			justify-content: flex-start;
			max-height: none;
			min-height: auto
		}
		.media-m>div,
		.nav>li.is-wide-m {
			flex: 1
		}
		.nav>li {
			align-self: auto
		}
		.nav>li>a {
			font-size: 1.125rem;
			line-height: 1.125;
			padding: 10px 20px;
			color: #a6afb9
		}
		.nav>li>a.is-logo {
			display: block;
			margin: 0;
			padding: 14px;
			text-align: center
		}
		.nav>li>a.is-toggle {
			padding: 16px 20px
		}
		.nav>li.is-group {
			margin-top: 10px;
			padding: 10px 0;
			border-top: 1px solid #e7e9ed
		}
		.nav>li.is-first {
			order: 0;
			align-self: flex-end
		}
		.form,
		.nav.is-aux>li>a {
			padding: 16px
		}
		.nav.can-toggle {
			flex-direction: column;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0;
			transform: translate3d(-100%, 0, 0)
		}
		.nav.can-toggle>li>a {
			display: block;
			color: #000
		}
		.slider-content {
			margin-bottom: 32px
		}
		.slider-caption {
			left: 0;
			right: 0;
			text-align: center
		}
		.p0-m {
			padding: 0!important
		}
		.p0y-m {
			padding-bottom: 0!important;
			padding-top: 0!important
		}
		.u-expanded-m {
			display: block!important
		}
		.d,
		.u-none-m {
			display: none!important
		}
		.t-center-m {
			text-align: center!important
		}
		.t-regular-m {
			font-size: 1rem;
			line-height: 1.67
		}
		.h5,
		h5 {
			font-size: 1.125rem
		}
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.2
		}
		.list.is-tabular.of-1-m>li {
			width: 100%;
			padding-right: 10px
		}
		.media-m>img {
			margin-right: 1em
		}
		.media-list>li>img {
			margin-right: 16px
		}
		.h1,
		h1 {
			font-size: 2.75rem
		}
		.nav.can-toggle>li>a.is-toggle {
			display: inline-block
		}
		.nav.can-toggle.from-right {
			transform: translate3d(200%, 0, 0)
		}
		.m0-m {
			margin: 0!important
		}
		.p20-m {
			padding: 20px!important
		}
		.u-right-m {
			float: right!important
		}
		.card+.card {
			margin-top: 16px
		}
		.col.is-6-m {
			flex: 0 0 auto;
			width: 50%
		}
		.card-banner {
			margin: -16px -16px 8px
		}
		.card-banner:only-child {
			margin: -16px
		}
		.card-banner:only-child>a {
			font-size: 1.125rem;
			line-height: 1.5
		}
		.media-m {
			display: flex;
			align-items: flex-start
		}
		.img-70-m {
			width: 70px;
			height: 70px
		}
		.form-label,
		.form-value {
			display: block;
			width: auto
		}
		.u-left-m {
			float: left!important
		}
		.row.is-collapsed-m {
			padding: 0
		}
		.row.is-collapsed-m>.col {
			padding: 0 0 20px
		}
		.form-label {
			padding-right: 0
		}
		.form-value {
			padding: 0 0 8px
		}
		.form-item {
			margin-top: 0
		}
		.form-footer {
			padding: 28px 0
		}
		.h2,
		h2 {
			font-size: 2.125rem
		}
		.cover,
		.cover.is-compact {
			height: auto
		}
		.popover.is-nested {
			display: none;
			position: relative;
			width: 100%;
			border: 0;
			transform: none;
			z-index: 10010
		}
		/* .dropdown>li>a:not(:only-child):before {
			transform: translate(-125%, -90%) rotate(45deg)
		}
		.dropdown.is-nested {
			padding-left: 20px
		} */
		.m20b-m {
			margin-bottom: 20px!important
		}
		.m20r-m {
			margin-right: 20px!important
		}
		.cover>.box>.h1,
		.cover>.box>h1 {
			font-size: 1.75rem;
			line-height: 1.17857
		}
		.t-left-m {
			text-align: left!important
		}
		.p20x-m {
			padding-right: 20px!important;
			padding-left: 20px!important
		}
		.h3,
		h3 {
			font-size: 1.625rem
		}
		.can-toggle.is-m {
			transform: translate3d(-100%, 0, 0);
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0;
			z-index: 5010
		}
		.can-toggle.is-m>.toggle-head {
			flex: 0 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center
		}
		.can-toggle.is-m>.toggle-content {
			overflow: auto;
			flex: 1 1 100%
		}
		.can-toggle.is-m>.toggle-content>.accordion {
			border-bottom: none
		}
		.can-toggle.is-m>.toggle-content>.accordion>.accordion-title:first-child {
			border-top: none
		}
		.card.is-compact {
			padding: 8px
		}
		.media-list.in-card {
			margin: 0 -16px
		}
		.media-list.in-card.is-spaced>li {
			padding: 10px 16px
		}
		.col.is-10-m {
			flex: 0 0 auto;
			width: 83.33333%
		}
		.img-168-m {
			width: 168px;
			height: 94px
		}
		.p0l-m {
			padding-left: 0!important
		}
		.is-attached[data-position-m=tc] {
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%)
		}
		.m20t-m {
			margin-top: 20px!important
		}
		.m40-m {
			margin: 40px!important
		}
		.m40b-m {
			margin-bottom: 40px!important
		}
		.p40-m {
			padding: 40px!important
		}
		.p40b-m {
			padding-bottom: 40px!important
		}
		.is-attached[data-position-m=br] {
			bottom: 0;
			right: 0;
			transform: translate(50%, 50%)
		}
		.is-attached[data-position-m=br].is-inner {
			transform: translate(0)
		}
		.m10-m {
			margin: 10px!important
		}
		.u-fit-m {
			height: 100%!important
		}
		.u-expanded-m,
		.u-fit-m {
			width: 100%!important
		}
	}
	
	@media screen and (min-width:1024px) {
        .br-d {
            border-right: 1px solid #e7e9ed;
        }
		.popover.is-pointing:after,
		.popover:before {
			display: block;
			z-index: -1;
			content: "";
			position: absolute
		}
		.list.is-inline>li,
		.steps.is-inline>li {
			display: inline-block
		}
		.list.is-inline {
			margin: 0
		}
		.list.is-inline>li {
			padding-left: 0
		}
		.list.is-inline>li:not(:first-child) {
			padding-left: 23px
		}
		.col.is-12-d {
			flex: 0 0 auto;
			width: 100%
		}
		.popover:before {
			top: -6px;
			right: -6px;
			bottom: -6px;
			left: -6px
		}
		.popover[data-placement=bl],
		.popover[data-placement=br] {
			bottom: -4px;
			transform: translateX(0) translateY(100%) translateZ(2px)
		}
		.popover.is-pointing:before {
			top: -19px;
			right: -19px;
			bottom: -19px;
			left: -19px
		}
		.popover.is-pointing:after {
			border: 0 transparent;
			background: #fff;
			width: 14px;
			height: 14px;
			backface-visibility: hidden
		}
		.popover[data-placement=bl] {
			left: 0
		}
		.popover[data-placement=bl]:after {
			top: 0;
			left: 0;
			transform: translate(100%, -50%) rotate(-135deg)
		}
		.popover[data-placement=br] {
			right: 0
		}
		.popover[data-placement=br].is-pointing {
			bottom: -14px
		}
		.popover[data-placement=br]:after {
			top: 0;
			right: 0;
			transform: translate(-100%, -50%) rotate(-135deg)
		}
		.btn.in-pack {
			flex: none;
			min-width: auto;
			height: 44px;
			padding: 13px;
			border: 1px solid #a6afb8;
			outline: 0
		}
		.btn.in-pack.is-large {
			height: 50px;
			padding: 15px
		}
		.input-pack {
			display: flex
		}
		.in-pack {
			flex: 1;
			vertical-align: top
		}
		.in-pack,
		.in-pack>.input {
			border-radius: 0;
			min-width: 150px
		}
		.in-pack:last-child {
			border-radius: 0 2px 2px 0
		}
		.in-pack:not(:first-child):not(:last-child) {
			margin-left: -1px;
			margin-right: -1px
		}
		.media-d>div,
		.nav>li.is-wide-d {
			flex: 1
		}
		.nav>li>a.is-logo {
			margin: 0 75px 0 26px;
			padding: 24px 0
		}
		.nav.is-aux>li>a>.icon {
			color: #fff
		}
		.m20x-d {
			margin-right: 20px!important;
			margin-left: 20px!important
		}
		.m,
		.u-none-d {
			display: none!important
		}
		.t-right-d {
			text-align: right!important
		}
		.t-center-d {
			text-align: center!important
		}
		.t-small-d {
			font-size: .875rem;
			line-height: 1.67
		}
		.list.is-tabular.of-2-d>li {
			width: 50%;
			padding-right: 10px
		}
		.col.is-2-d {
			flex: 0 0 auto;
			width: 16.66667%
		}
		.col.is-5-d {
			flex: 0 0 auto;
			width: 41.66667%
		}
		.col.is-10-d {
			flex: 0 0 auto;
			width: 83.33333%
		}
		.card-content.is-stretched {
			flex: 1 0 auto
		}
		.search-bar {
			z-index: 5001
		}
		.p20r-d {
			padding-right: 20px!important
		}
		.col.is-4-d {
			flex: 0 0 auto;
			width: 33.33333%
		}
		.btn.in-pack.is-small {
			height: 38px;
			padding: 11px
		}
		.in-pack.is-borderless-d,
		.in-pack>.input.is-borderless-d,
		.input.is-borderless-d {
			border-color: #f7f8fa
		}
		.nav>li.can-grow-d {
			flex: 1 1 auto;
			max-width: 500px
		}
		.search-bar:not(.is-active)>.b-close,
		.search-bar:not(.is-compact)>.b-search {
			display: none
		}
		.search-bar>.b-close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 28px 32px;
			font-size: 20px
		}
		.p10r-d {
			padding-right: 10px!important
		}
		.m20-d {
			margin: 20px!important
		}
		.p20-d {
			padding: 20px!important
		}
		.col.is-1-d {
			flex: 0 0 auto;
			width: 8.33333%
		}
		.col.is-7-d {
			flex: 0 0 auto;
			width: 58.33333%
		}
		.p20t-d {
			padding-top: 20px!important
		}
		.u-block-d {
			display: block!important
		}
		.t-left-d {
			text-align: left!important
		}
		.t-large-d {
			font-size: 1.125rem;
			line-height: 1.67
		}
		.col.is-6-d {
			flex: 0 0 auto;
			width: 50%
		}
		.col.is-8-d {
			flex: 0 0 auto;
			width: 66.66667%
		}
		.popover.no-capture-right:before {
			right: 0
		}
		.popover[data-placement=rt] {
			right: -4px;
			top: 0;
			transform: translateX(100%) translateY(0) translateZ(2px)
		}
		.popover[data-placement=rt]:after {
			top: 0;
			left: 0;
			transform: translate(-50%, 100%) rotate(135deg)
		}
		.popover[data-placement=lt] {
			left: -4px;
			top: 0;
			transform: translateX(-100%) translateY(0) translateZ(2px)
		}
		.popover[data-placement=lt]:after {
			top: 0;
			right: 0;
			transform: translate(50%, 100%) rotate(-45deg)
		}
		.nav.is-emp {
			background-color: #38526d
		}
		.nav.is-emp>li>a.is-logo {
			padding: 16px 0 13px
		}
		.p20b-d {
			padding-bottom: 20px!important
		}
		.col.is-3-d {
			flex: 0 0 auto;
			width: 25%
		}
		.col.is-9-d {
			flex: 0 0 auto;
			width: 75%
		}
		.p10y-d {
			padding-bottom: 10px!important;
			padding-top: 10px!important
		}
		.m40r-d {
			margin-right: 40px!important
		}
		.m10r-d,
		.m10x-d {
			margin-right: 10px!important
		}
		.steps.is-inline>li:not(:first-child) {
			margin-left: 32px
		}
		.p40x-d {
			padding-right: 40px!important;
			padding-left: 40px!important
		}
		.m10x-d {
			margin-left: 10px!important
		}
		.p20x-d {
			padding-right: 20px!important;
			padding-left: 20px!important
		}
		.media-d.is-reversed,
		.row.is-reversed-d {
			flex-direction: row-reverse
		}
		.in-pack:first-child,
		.in-pack:first-child>.input {
			border-radius: 2px 0 0 2px
		}
		.m20y-d {
			margin-bottom: 20px!important
		}
		.m20t-d,
		.m20y-d {
			margin-top: 20px!important
		}
		.input-group_inline>.input[type=checkbox]+label {
			display: inline-block;
			vertical-align: middle
		}
		.col.is-9-d.is-half {
			width: 37.5%
		}
		.sticky-content {
			transform: translateZ(0);
			will-change: position, transform
		}
		.card.is-primary-d {
			position: relative
		}
		.card.is-primary-d:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			display: block;
			height: 5px;
			background-color: #2784fc;
			border-radius: 4px 4px 0 0
		}
		.media-list.in-card {
			margin: 0 -20px
		}
		.media-list.in-card.is-spaced>li {
			padding: 10px 20px
		}
		.dlist.is-fitted {
			display: table
		}
		.dlist.is-fitted>div {
			display: table-row
		}
		.dlist.is-fitted>div>dd {
			padding-left: 2em
		}
		.dlist.is-fitted>div>dd,
		.dlist.is-fitted>div>dt {
			display: table-cell
		}
		.media-d {
			display: flex;
			align-items: flex-start
		}
		.media-d.is-reversed>div {
			text-align: right
		}
		.img-264-d {
			width: 264px;
			height: 120px
		}
		.u-fit-d {
			height: 100%!important;
			width: 100%!important
		}
		.is-attached[data-position-d=tl] {
			top: 0;
			left: 0;
			transform: translate(-50%, -50%)
		}
		.img-120-d {
			width: 120px;
			height: 120px
		}
		.m40l-d {
			margin-left: 40px!important
		}
		.p40l-d {
			padding-left: 40px!important
		}
		.is-attached[data-position-d=br] {
			bottom: 0;
			right: 0;
			transform: translate(50%, 50%)
		}
		.is-attached[data-position-d=br].is-inner {
			transform: translate(0)
		}
	}
	
	@media screen {
		.print-only {
			display: none!important
		}
	}
	
	
	/*]]>*/