<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <!-- Footer -->
<footer class="container-fluid" style="background-color: dimgray;">
  <div class="row">
    <div class="col-md-2" style="padding-left:10px;">
      <ul style="list-style: none;color: #ffffff;">
        <li><h4>Featured Jobs</h4></li>
        <li>Browse Jobs</li>
        <li>Premium MBA Jobs</li>
        <li>Access Database</li>
        <li>Manage Responses</li>
        <li>Report a Problem</li>
        <li>Mobile site</li>
        <li>Jobs by skills</li>
      </ul>
    </div>
    <div class="col-md-2">
        <ul style="list-style: none;color: #ffffff;">
            <li><h4>Find Jobs</h4></li>
            <li>Al Rayyan</li>
            <li>Al Wakra </li>
            <li>Umm Said</li>
            <li>Khor Al Udaid</li>
            <li>Al Khor</li>
            <li>RLIC</li>
            <li>Mesaieed</li>
          </ul>
    </div>
    <div class="col-md-2">
        <ul style="list-style: none;color: #ffffff;">
            <li><h4>Company</h4></li>
            <li>About us</li>
            <li>Contact Us </li>
            <li>Careers</li>
            <li>Blogs </li>
          </ul>
    </div>
    <div class="col-md-2">
        <ul style="list-style: none;color: #ffffff;">
            <li><h4>Quick Links</h4></li>
            <li>Career Tips</li>
            <li>Events</li>
            <li>Never Miss an Email</li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul style="list-style: none;color: #ffffff;">
            <li><h4>REACH US</h4></li>
            <li>Mindful Consulting,</li>
            <li>Al Shoumoukh Tower</li>
            <li>C Ring Road</li>
            <li>Doha, Qatar</li>
            <li>Email: support@mindfulqatar.com</li>
            <li>Call: +974 123 45678</li>
            <li>FAX: 123 456 85</li>
          </ul>
    </div>
    <div class="col-md-2">
        <ul style="list-style: none;color: #ffffff;">
            <li><h4>DROP A MAIL</h4></li>
            <li style="margin-left: -5px;"><input type="text" class="form-group" placeholder="Name"></li>
            <li style="margin-left: -5px;"><input type="email" class="form-group" placeholder="Email"></li>
            <li style="margin-left: -5px;"><input type="text" class="form-group" placeholder="message"></li>
            <li><button class="btn btn-sm btn-orange">Send</button></li>
        </ul>
    </div>
  </div>
  <div class="text-center">
    <span style="color:yellow;">Follow:</span><sapn style="color:#ffffff;">Mindfulqatar.com</sapn>
    <ul class="list-unstyled list-inline text-center" style="display: -webkit-inline-flex;list-style:none;">
      <li class="list-inline-item">
          <i class="fa fa-facebook-f fa-lg" style="color: skyblue;padding-left:12px;"> </i>
      </li>
      <li class="list-inline-item">
          <i class="fa fa-twitter fa-lg"style="color: orange;padding-left:12px;"> </i>   
      </li>
      <li class="list-inline-item">
          <i class="fa fa-linkedin fa-lg" style="color:red;padding-left:12px;"> </i>
      </li>
      <li class="list-inline-item">
          <i class="fa fa-instagram fa-lg" style="color: yellow;padding-left:12px;"> </i>
      </li>
    </ul>
  </div>
</footer>
  <section class="text-center" style="background-color: gray;padding:10px 0;text-align:center;">
    <p>©Copyright 2019 Mindfulqatar | Design By <span style="color:yellow">WTM.COM</span></p>
  </section>

  <!-- Footer -->
	<noscript data-deferred-styles>
		<link rel="stylesheet" type="text/css"
			href="//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/B8.css"
			media="all" />
			
	</noscript>
	<script src="//jscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/js/B8com.js"
		defer="defer" id="1333624460"></script>
		<script src="/js/javascript.js"
		defer="defer" id="1333624460"></script>
	<script src="https://www.googletagmanager.com/gtm.js?id=GTM-NW36N4"
		async="async" id="3804486059"></script>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script>
		/*<![CDATA[*/
		B8.ready(function() {
			BaytNavigation.ajax.defaultAjaxSetup()
		});
		var dataLayer = dataLayer || [];
		dataLayer.push({
			"pageLang" : "en",
			"pageName" : "home",
			"pageSection" : "Job Seeker",
			"pageProtected" : false
		});
		dataLayer.push({
			"gtm.start" : new Date().getTime(),
			"event" : "gtm.js"
		});
		B8v = {
			"domainType" : "jobs",
			"cookiesDomain" : ".mindful.com",
			"devProjects" : {
				"baytUI" : 1,
				"generic" : 0,
				"yiiBetaAndDev" : 0,
				"new_email_confirmation_considration" : 1,
				"hr_communities_new" : 1,
				"baytUIProfile" : 1,
				"cv_refreshness_project" : 1,
				"shagheel_domain" : 1,
				"job_post_baytui" : 1
			},
			"pageCached" : true,
			"saveNav" : false,
			"csrf" : {
				"token" : "5af7aa196f23c5bb3f69259aa9a4942b7fb391f6"
			},
			"baytUiNavigation" : {
				"mode" : "jsLogout",
				"list" : "jobsLoggedOut",
				"links" : {
					"upg" : "https:\/\/www.mindful.com\/en\/ecommerce\/upgrade\/?native_source=Top-bar",
					"prm" : "https:\/\/www.mindful.com\/en\/myworkspace-j\/elite-premium-account\/"
				},
				"confirmationMsgs" : {
					"undeliverable" : "<h5>Employers Can't Contact You!<\/h5> We tried to send you an email but it seems that your email address is incorrect. Change your email address by <a href=\"https:\/\/www.mindful.com\/en\/mycvs\/#contact\">clicking here<\/a>.",
					"risky" : "<h5>Employers Can't Contact You!<\/h5> You need to confirm your email address before you can appear in the employer search. <a href=\"javascript:;\" onclick=\"B8.ajax('\/app\/control\/byt_reg_manager',{data: {byt_reg_stage:45,withMessage:1},success:function(data){B8.push('Email sent, please check your inbox.');}});\">Click here<\/a> to send the confirmation email.",
					"unknown" : "<h5>Employers Can't Contact You!<\/h5> We've sent you a confirmation email. Log in to your email and follow the instructions to confirm. Didn't get the email? <a href=\"javascript:;\" onclick=\"B8.ajax('\/app\/control\/byt_reg_manager',{data: {byt_reg_stage:45,withMessage:1},success:function(data){B8.push('Email sent, please check your inbox.');}});\"> Send it again. <\/a>"
				}
			}
		};
		/*]]>*/
	</script>
</body>
</html>

