
  <!-- footer section -->
	<footer id="down-footer">
      <div class="footer-section">
        <div class="container">
          <div class="row">
            <!-- <div class="digitax-details"> -->
            <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="basic-links">
                <h3 class="white">Featured Job</h3>
                <ul class="basic-link-item pl-0">
                  <li class="item"><a th:href="@{''}">Browse Jobs</a></li>
                  <li class="item"><a th:href="@{''}">Premium MBA Jobs</a></li>
                  <li class="item"><a th:href="@{''}">Access Database</a></li>
                  <li class="item"><a th:href="@{''}">Managae Response</a></li>
                  <li class="item"><a th:href="@{''}">Report a Problem</a></li>
                  <li class="item"><a th:href="@{''}">Mobile Site</a></li>
                  <li class="item"><a th:href="@{''}">Jobs By Skill</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-6 col-sm-6 col-md-3 col-lg-2">
              <div class="basic-links">
                <h3 class="white footer-link">Find Jobs</h3>
                <ul class="basic-link-item pl-0">
                  <li class="item"><a th:href="@{''}">AI Rayyan</a></li>
                  <li class="item"><a th:href="@{''}">AI Wakra</a></li>
                  <li class="item"><a th:href="@{''}">Umm Said</a></li>
                  <li class="item"><a th:href="@{''}">Khor AI Udaid</a></li>
                  <li class="item"><a th:href="@{''}">AI Khor</a></li>
                  <li class="item"><a th:href="@{''}">RLIC</a></li>
                  <li class="item"><a th:href="@{''}">Mesaieed</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-6 col-sm-6 col-md-5 col-lg-3">
              <div class="row">
                <div class="col col-12 col-md-6 col-lg-6">
                  <div class="basic-links">
                    <h3 class="white footer-link">Company</h3>
                    <ul class="basic-link-item pl-0">
                      <li class="item"><a th:href="@{''}">About us</a></li>
                      <li class="item"><a th:href="@{''}">Contact us</a></li>
                      <li class="item"><a th:href="@{''}">Careers</a></li>
                      <li class="item"><a th:href="@{''}">Blogs</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                  <div class="basic-links">
                    <h3 class="white footer-link">Quick Links</h3>
                    <ul class="basic-link-item pl-0">
                      <li class="item"><a th:href="@{''}">Caareer Tips</a></li>
                      <li class="item"><a th:href="@{''}">Events</a></li>
                      <li class="item"><a th:href="@{''}">Never Miss An Email</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-12">
                  <div class="basic-links ftr">
                    <h6 class="yellow">Follow <a th:href="@{'#'}">Mindfulqatar.com</a></h6>
                    <ul>
                      <li><a th:href="@{'#'}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a th:href="@{'#'}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a th:href="@{'#'}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a th:href="@{'#'}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="col col-6 col-sm-6 col-md-5 col-lg-3">
              <div class="basic-links">
                <h3 class="white">Reach Us</h3>
                <ul class="basic-link-item pl-0">
                  <li class="item"><a th:href="@{''}">Mindful Consulting</a></li>
                  <li class="item"><a th:href="@{''}">AI Shoumoukh Tower</a></li>
                  <li class="item"><a th:href="@{''}">C Ring Road</a></li>
                  <li class="item"><a th:href="@{''}">Doha, Qatar</a></li>
                  <li class="item"><a th:href="@{''}" class="mb-none">Email:support@mindfulqatar.com</a></li>
                  <li class="item"><a th:href="@{''}">Call:+974 123 45678</a></li>
                  <li class="item"><a th:href="@{''}">FAX: 123 456 85</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="basic-links">
                <h3 class="white">Drop A Mail</h3>
                <form action="/action_page.php">
                  <input type="text" placeholder="Your Name">
                </form>
                <form action="/action_page.php">
                  <input type="email" placeholder="Email">
                </form>
                <form action="/action_page.php">
                  <textarea type="text" placeholder="Message"></textarea>
                </form>
                <button class="btn-ftr">Send</button>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="all-rights mx-auto text-center">
        <div class="container">
          <div class="copy-right">
            © Copyright 2019 Mindfulqatar | Design By <span style="color:#ffc23d;font-weight: 600">THE
              WAY</span>
          </div>
        </div>
      </div>
    </footer>
<!-- Footer end -->
	<!-- bootstrap script links -->
	<script th:src="@{'/assets/js/jquery.min.js'}"></script>
	<script th:src="@{'/assets/js/popper.min.js'}"></script>
	<script th:src="@{'/assets/js/bootstrap.min.js'}"></script>

	<!-- plugin javascript -->
	<script th:src="@{'/assets/js/plugin.js'}"></script>
	<script th:src="@{'owl.carousel.min.js'}"></script>
	<!-- navigation script -->


	<!-- Counter number script -->
	<script type="text/javascript">
		$('.counter').each(function () {
			var $this = $(this),
				countTo = $this.attr('data-count');

			$({ countNum: $this.text() }).animate({
				countNum: countTo
			},
				{
					duration: 1000,
					easing: 'linear',
					step: function () {
						$this.text(Math.floor(this.countNum));
					},
					complete: function () {
						$this.text(this.countNum);
						//alert('finished');
					}
				});
		});

		$(window).mousemove(function (e) {
			var change;
			var xpos = e.clientX; var ypos = e.clientY; var left = change * 50;
			var xpos = xpos * 2; ypos = ypos * 2;
			$('.banner-seo-img').css('top', ((0 + (ypos / 50)) + "px"));
			$('.banner-seo-img').css('right', ((0 + (xpos / 80)) + "px"));

		});
	</script>  
</body>

</html>