<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<div th:fragment="header">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{'/assets/css/bootstrap.min.css'}" />
<link rel="stylesheet" th:href="@{'/assets/css/plugin.css'}" />
<link rel="stylesheet" th:href="@{'/assets/css/style.css'}" />
<link rel="stylesheet" th:href="@{'/assets/css/responsive.css'}" />


<link rel="stylesheet"
	th:href="@{'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}" />
</head>

<body>
<!-- navigation section-->
<header id="navbar" class="nav-down">
	<div class=" d-flex mb-detail">
		<div class="contact-details d-flex">
			<div class="d-flex contact">
				<span>
					<a th:href="@{'#'}" class="fa fa-envelope-o"></a>
					<a th:href="@{'#'}">Support@mindfulqatar.com</a>
				</span>
			</div>
			<div class="d-flex contact">
				<span class="d-flex align-items-baseline">
					<a th:href="@{'#'}" class="fa fa-volume-control-phone"></a>
					<a th:href="@{'tel:123-456-7890'}">123-456-7890</a>
				</span>
			</div>
			<div class="contact">
				<p>Working Hours:9:00 am to 5:00 pm</p>
			</div>
			<div class="basic-links ftr">
				<ul style="padding-top:10px;margin-bottom: 0px">
					<li><a th:href="@{'https://www.twitter.com'}" target="_blank"><i class="fa fa-twitter"
								aria-hidden="true"></i></a></li>
					<li><a th:href="@{'https://www.instagram.com'}" target="_blank"><i class="fa fa-instagram"
								aria-hidden="true"></i></a></li>
					<li><a th:href="@{'https://www.linkedin.com'}" target="_blank"><i class="fa fa-linkedin"
								aria-hidden="true"></i></a></li>
					<li><a th:href="@{'https://www.facebook.com'}" target="_blank"><i class="fa fa-facebook"
								aria-hidden="true"></i></a></li>
				</ul>
			</div>

			<div class="employers-Option">
				<li><a th:href="@{'#'}">Employers</a></li>
			</div>
		</div>
		<div class="login-details d-flex float-right">
			<div class="d-flex pad-right30">
				<span>
					<!-- <a th:href="@{''}" class=""></a> -->
					<a th:href="@{'LOGIN_PATH'}" class=""><i class="fa fa-user-circle-o pr-1"></i>Login</a>
				</span>
			</div>
			<div class="d-flex">
				<span>
					<!-- <a th:href="@{''}" class=""></a> -->
					<a th:href="@{'REGISTRATION_PATH'}" class=""><i
							class="fa fa-pencil-square-o pr-1"></i>Register</a>
				</span>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" th:href="@{'HOME_PATH'}">
				<img th:src="@{'/assets/image/logos/logo.png'}">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse float-right " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{'HOME_PATH'}">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" th:href="@{'#'}" id="navbardrop" data-toggle="dropdown">Search Jobs <i
								class="fa fa-caret-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{'ADVANCE_SEARCH_PATH'}">Advanced
								Search</a>
							<a class="dropdown-item" th:href="@{'JOBS_BY_ROLE_PATH'}">Jobs By Role</a>
							<a class="dropdown-item" th:href="@{'JOBS_BY_SECTOR_PATH'}">Jobs By
								Sector</a>
							<a class="dropdown-item" th:href="@{'JOBS_BY_LOCATION_PATH'}">Jobs By
								Location</a>
							<a class="dropdown-item" th:href="@{'JOBS_BY_COMPANY_PATH'}">Jobs By
								Companies</a>
							<a class="dropdown-item" th:href="@{'EXECUTIVE_JOBS_PATH'}">Executive
								Jobs</a>
							<a class="dropdown-item" th:href="@{'SALARIES_PATH'}">Salaries</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link" th:href="@{'#'}" id="navbardrop" data-toggle="dropdown">Services <i
								class="fa fa-caret-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{'ENERGY_PATH'}">Energy</a>
							<a class="dropdown-item" th:href="@{'COMMUNICATION_AUTOMATION_PATH'}">Communication &
								Automation</a>
							<a class="dropdown-item" th:href="@{'KABEL_HOME_PATH'}">Kabel Home</a>
							<a class="dropdown-item" th:href="@{'SMART_CITY_PATH'}">Smart City</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'COMPANY_REVIEWS_PATH'}">Company Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'#'}">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link border-contact" th:href="@{'CONTACT_US_PATH'}">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<!-- header end -->