/*search box css start here*/

.search-sec{
    padding: 2rem !important;
}
.search-slt{
    display: block !important;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.curosel-custom{
    margin-top: -20px;
}
.custom-top{
    margin-top: -10px !important;
    margin-right: 100px !important;
}
.fontstyle1{
    font-family:'Lato', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.fontstyle2{
    font-family:'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.custom-top1{
    margin-top:-135px;
}
.btn-orange{
    background-color: gold !important;
}
.search-sec1 {
    position: relative;
    top: -114px;
}

.nav>li>a {
	color: black !important;
	font-size:18px;
}
/*<![CDATA[*/
@media screen {
	.print-only {
		display: none !important
	}
}

@media screen and (min-width:1024px) {
	.search-bar:not (.is-active ).is-compact>.input-pack, .search-bar:not (.is-active
		 )>.b-close, .search-bar:not (.is-compact )>.b-search {
		display: none
	}
}

.icon {
	min-width: 18px
}

.slider {
	position: relative
}

.slider-arrow {
	color: transparent
}

.slider-arrows {
	position: absolute
}

.t-danger {
	color: #ff3b30
}


@font-face {
	font-family: icons;
	src:
		url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/Simple-Line-Icons-Pro-7b3a1bc7250cc109927aeb9365e3e6f7.eot);
	src:
		url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/Simple-Line-Icons-Pro-7b3a1bc7250cc109927aeb9365e3e6f7.eot#iefix)
		format("embedded-opentype"),
		url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/Simple-Line-Icons-Pro-c1e03ae2bb370c07ec80e233666a3bdd.woff)
		format("woff"),
		url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/Simple-Line-Icons-Pro-ed5fc7e449ef107102dbd0a9e51fc9c5.ttf)
		format("truetype"),
		url(//csscf.b8cdn.com/bayt/assets/baytui-1.69.0-c1/css/Simple-Line-Icons-Pro-d15b23562c07294e75a74e206d443995.svg#test)
		format("svg");
	font-display: optional;
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'),
		url(//fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB,
		U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'),
		url(//fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(//fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB,
		U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(//fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(//fonts.gstatic.com/s/lato/v14/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB,
		U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url(//fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2)
		format('woff2');
	font-display: optional;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
}

@font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 400;
	src:
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot);
	src:
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.ttf)
		format('truetype');
	font-display: optional
}

@font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 700;
	src:
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot);
	src:
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Bold.ttf)
		format('truetype');
	font-display: optional
}

.list.is-basic, .list.is-basic>li {
	padding-left: 0;
	margin-top:12px;
}

.cover, .row {
	display: flex
}

.popover, .popover-owner, button, hr, input {
	overflow: visible
}

.btn.is-outline, a {
	color: #2784fc
}

#yw0 {
	margin-left: 325px;
	font-size: 20px;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}

.dropdown>li>a, a {
	text-decoration: none
}

.popover, nav>.nav {
	text-align: left
}

.cover, .slider-image {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover
}

.btn, .dropdown>li>a, .nav>li>a, .t-nowrap {
	white-space: nowrap
}

html {
	box-sizing: border-box;
	font-family: Lato, Noto Kufi Arabic, sans-serif;
	font-size: 16px;
	line-height: 1.67
}

nav, section {
	display: block
}

h1 {
	font-size: 2.875rem
}

.cover>.box>h1, h2 {
	font-size: 2.25rem
}

hr {
	box-sizing: content-box;
	height: 0;
	width: 100%;
	padding: .5px 0;
	background-color: #e7e9ed;
	border: 0
}

.btn.is-inverse.is-outline, .btn.is-outline, .btn.is-secondary.is-outline,
	a {
	background-color: transparent
}

b {
	font-weight: bolder
}

img {
	border-style: none
}

button, input, select {
	margin: 0;
	font-family: inherit
}

button, input {
	font-family: inherit
}

button, select {
	text-transform: none
}

*, :after, :before {
	box-sizing: inherit
}

body, html {
	padding: 0;
	margin: 0;
	background: #f4f4f4;
	color: #3b3b3b
}

.h3, h1, h2, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 .5em;
	color: #000
}

.box, .cover {
	margin: 0 auto
}

.h3 {
	font-size: 1.75rem
}

h4 {
	font-size: 1.5rem
}

h5 {
	font-size: 1.25rem
}

h6 {
	font-size: 1rem
}

.list {
	font-size: 16px;
	padding-left: 1em
}

.box, .col {
	padding: 10px
}

.list>li {
	padding-left: 1.375em;
	font-size: 1em;
	line-height: 1.625
}

.list.is-basic {
	list-style: none
}

.list.is-basic.is-spaced>li {
	padding: 6px 0
}

.box {
	max-width: 1000px
}

.cover {
	align-items: center;
	height: 460px
}

.cover>.box {
	text-align: center;
	width: 100%
}

.cover>.box>h1 {
	line-height: 1.19444;
	margin-bottom: 20px
}

.cover>.box>p {
	margin-bottom: 30px
}

.row {
	flex-flow: row wrap;
	flex: 1 0 auto
}

.row.is-compact>.col {
	flex-grow: 0;
	padding: 3px
}

.row.h-align-center {
	justify-content: center
}

.row.h-align-between {
	justify-content: space-between
}

.row.v-align-center {
	align-items: center
}

.col {
	display: block;
	flex: 1 1 auto
}

.col.is-3 {
	flex: 0 0 auto;
	width: 25%
}

.col.is-4 {
	flex: 0 0 auto;
	width: 33.33333%
}

.col.is-8 {
	flex: 0 0 auto;
	width: 66.66667%
}

.col.is-11 {
	flex: 0 0 auto;
	width: 91.66667%
}

.col.is-12 {
	flex: 0 0 auto;
	width: 100%
}

.media {
	display: flex;
	align-items: flex-start
}

.media>img {
	margin-right: 1em
}

.media>div {
	flex: 1
}

.is-attached {
	position: absolute;
	z-index: 1
}

.is-attached[data-position=b] {
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(50%)
}

.is-attached[data-position=b].is-inner {
	transform: translate(0)
}

.is-attached.to-screen {
	position: fixed;
	height: auto;
	z-index: 5000
}

.popover {
	position: absolute;
	display: none;
	min-width: 270px;
	background-color: #fff;
	border: 1px solid #e7e9ed;
	border-radius: 5px;
	z-index: 10000;
	outline: 0
}

.dropdown>li, .dropdown>li>a, .list-menu-group, .list-menu-title,
	.popover-owner, .select, .slider, .slider-content, nav>.nav {
	position: relative
}

.btn, .mobile-banner {
	background-color: #2784fc;
	color: #fff
}

.b-close, .btn, .icon {
	text-align: center;
	vertical-align: middle
}

.nav, nav {
	z-index: 5010
}

.mobile-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px
}

.mobile-content {
	display: block;
	flex: 1 1 auto
}

.mobile-logo {
	flex: 0 0 auto;
	padding: 4px;
	margin: 0 10px;
	line-height: 1;
	border: 1px solid #fff;
	border-radius: 10px
}

.btn {
	font-size: 1rem;
	line-height: 1;
	font-weight: 700;
	padding: 13px 27px;
	border: 1px solid #2784fc;
	display: inline-block;
	overflow: hidden;
	border-radius: 4px
}

.btn.is-small, .dropdown {
	font-size: .875rem;
	line-height: 1
}

.btn.is-inverse {
	color: #828a93;
	background-color: #fff;
	border-color: #fff
}

.btn.is-small {
	font-weight: 700;
	padding: 11px 23px
}

.btn.is-large {
	font-size: 1.125rem;
	line-height: 1;
	font-weight: 700;
	padding: 15px 31px
}

.btn.is-secondary {
	background-color: #828a93;
	border-color: #828a93
}

.card, .select, .select>.input {
	background-color: #fff
}

.btn.is-secondary.is-outline {
	color: #828a93
}

.btn.is-inverse.is-outline {
	color: #fff
}

.btn.is-round {
	border-radius: 100px
}

.btn+.btn {
	margin-left: 10px
}

.card {
	padding: 20px;
	border-radius: 4px
}

.card:only-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%
}

.card-head {
	padding-bottom: 10px
}

.card-foot {
	padding: 20px 0 0
}

.dropdown {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	color: #3b3b3b;
	overflow: visible
}

.dropdown>li>a {
	display: block;
	padding: 10px 20px;
	color: inherit;
	font-weight: 400
}

.dropdown>li.is-title {
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase
}

.form-hint {
	font-size: .75rem;
	line-height: 1.66667;
	display: block;
	padding-top: 8px;
	margin-bottom: 32px;
	color: #a6afb9
}

.form-hint:empty {
	display: none
}

.b-close, .icon, .nav>li>a, .select, .select>.input {
	display: inline-block
}

.b-close, .icon {
	font-family: icons;
	font-style: normal;
	font-weight: 400;
	line-height: .8125
}

.icon {
	margin: 0 10px 0 0
}

.icon.is-48 {
	font-size: 48px;
	padding: 8px
}

.icon.is-smartphone:before {
	content: "\E8D9"
}

.icon.is-tie:before {
	content: "\E9AD"
}

.icon.is-apps:before {
	content: "\EB30"
}

.icon.is-bars:before {
	content: "\EB32"
}

.icon.is-search:before {
	content: "\EB4A"
}

.b-close:after {
	content: "\EB0C";
	color: #a6afb9
}

.b-close.is-inverse:after, .t-inverse {
	color: #fff
}

.b-close.is-large {
	font-size: 18px
}

.img-apps {
	width: 40px;
	height: 40px
}

.img-apps.is-b {
	background-position: -40px 0
}

.img-apps.is-b-inverse {
	background-position: -120px -123px
}

.img-apps.is-specialties {
	background-position: -80px 0
}

.img-apps.is-learning {
	background-position: 0 -43px
}

.img-apps.is-people {
	background-position: -40px -43px
}

.img-apps.is-companies {
	background-position: -80px -43px
}

.img-apps.is-salaries {
	background-position: -120px 0
}

.img-apps.is-articles {
	background-position: -120px -40px
}

.img-apps.is-researches {
	background-position: 0 -83px
}

.img-apps.is-podcast {
	background-position: -40px -83px
}

.img-apps.is-blog {
	background-position: -80px -83px
}

.img-apps.is-shagheel {
	background-position: 0 0
}

.img-logo.is-android {
	background-position: -162px -129px;
	width: 20px;
	height: 24px
}

.img-logo.is-iOS {
	background-position: -142px -129px;
	width: 20px;
	height: 24px
}

.img-logo.is-logo-inverse {
	background-position: -187px -66px;
	width: 101px;
	height: 22px
}

.img-logo.is-logo {
	background-position: -187px 0;
	width: 101px;
	height: 22px
}

.input {
	width: auto;
	font-size: 1rem;
	line-height: 1;
	height: 44px;
	padding: 14px;
	border: 1px solid #a6afb8;
	border-radius: 2px;
	outline: 0;
	vertical-align: middle;
	background-image: none
}

.list-menu, .nav {
	font-size: .875rem
}

.input.is-large:not(textarea), .input:not(textarea) {
	padding-top: 0;
	padding-bottom: 0
}

.input.is-large {
	font-size: 1.125rem;
	line-height: 1;
	height: 50px;
	padding: 16px
}

select.input {
	padding: 0 12px;
	line-height: 2
}

.select {
	width: 100%;
	overflow: visible
}

.select:before {
	background: #fff;
	width: 35px;
	top: 3px;
	bottom: 3px;
	right: 3px;
	border-radius: 0 2px 2px 0
}

.select:after, .select:before {
	content: "";
	position: absolute
}

.select:after {
	right: 17.5px;
	top: calc(50% - 2px);
	width: 10px;
	height: 10px;
	border: 1px solid #b9bfcb;
	border-width: 0 1px 1px 0;
	transform: translate(-50%, -50%) rotate(45deg);
	z-index: 2
}

.select>.input {
	width: 100%;
	line-height: 1.5;
	appearance: none;
	padding-right: 36px
}

.list-menu {
	line-height: 1.64285;
	width: 360px;
	color: #a6afb9
}

.list-menu-title {
	color: #3b3b3b;
	padding: 16px
}

.list-menu-group, .nav {
	list-style: none;
	padding: 0;
	margin: 0
}

.list-menu-title:first-child {
	border-bottom: 1px solid #e7e9ed
}

.list-menu-group {
	overflow: auto;
	min-height: 270px;
	max-height: 480px;
	border-top: 1px solid #e7e9ed
}

.list-menu-title+.list-menu-group {
	border-top: 0
}

.nav {
	line-height: 1.07357;
	display: flex;
	background-color: #2784fc
}

.nav>li {
	flex: 0 0 auto;
	order: 50;
	align-self: center;
	padding-bottom: 1px
}

.nav>li>a {
	padding: 28px 10px;
	color: #fff;
	line-height: 1.14286
}

.nav>li>a>.icon {
	margin: 0;
	font-size: inherit;
	color: #a6afb9;
	vertical-align: middle
}

.nav>li.is-group {
	margin: 0 20px
}

.nav.is-aux {
	font-size: 1.125rem;
	line-height: 1.02056;
	justify-content: center
}

.nav.is-aux>li {
	padding-bottom: 0
}

.nav.is-aux>li>a {
	padding: 14px 15px 18px 5px
}

.nav.is-aux.is-small>li>a {
	font-size: 14px
}

.dark-links>a {
	color: #3b3b3b
}

.slider {
	z-index: 1
}

.slider-content {
	z-index: 9
}

.slider-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	opacity: 0;
	z-index: 2
}

.slider-item.is-visible {
	opacity: 1;
	z-index: 3
}

.slider-image {
	height: 100%;
	width: 100%
}

.slider-caption {
	position: absolute;
	display: inline-block;
	right: 20px;
	bottom: 36px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase
}

.m0 {
	margin: 0 !important
}

.m0r {
	margin-right: 0 !important
}

.m10r, .m10x {
	margin-right: 10px !important
}

.p0 {
	padding: 0 !important
}

.m10 {
	margin: 10px !important
}

.m10x {
	margin-left: 10px !important
}

.m10y {
	margin-bottom: 10px !important
}

.m10t, .m10y {
	margin-top: 10px !important
}

.p10 {
	padding: 10px !important
}

.p10x {
	padding-right: 10px !important;
	padding-left: 10px !important
}

.p10y {
	padding-bottom: 10px !important
}

.p10t, .p10y {
	padding-top: 10px !important
}

.m20b, .m20y {
	margin-bottom: 20px !important
}

.m20t, .m20y {
	margin-top: 20px !important
}

.p20b, .p20y {
	padding-bottom: 20px !important
}

.p20t, .p20y {
	padding-top: 20px !important
}

.m40l {
	margin-left: 40px !important
}

.m40t {
	margin-top: 40px !important
}

.p40l {
	padding-left: 40px !important
}

.u-abs {
	position: absolute !important
}

.u-iblock {
	display: inline-block !important
}

.u-right {
	float: right !important
}

.u-hide {
	visibility: hidden !important
}

.u-none {
	display: none !important
}

.t-left {
	text-align: left !important
}

.t-center {
	text-align: center !important
}

.t-nowrap {
	overflow: hidden;
	text-overflow: ellipsis
}

.t-light {
	font-weight: 300
}

.t-small {
	font-size: .875rem;
	line-height: 1.67
}

.t-large {
	font-size: 1.125rem;
	line-height: 1.67
}

.t-primary {
	color: #2784fc
}

.t-mute {
	color: #a6afb9
}

.bg-inverse {
	background-color: #fff
}

a:not (.btn ):not (.b-close ):not (.label ).is-inverse {
	color: #fff;
	text-decoration: underline
}

@media screen and (max-width:1023px) {
	.in-pack, .popover {
		width: 100%
	}
	.nav, .nav.can-toggle {
		background-color: #fff
	}
	h1 {
		font-size: 2.75rem
	}
	.h3, h1, h2, h4, h5, h6 {
		line-height: 1.2
	}
	h2 {
		font-size: 2.125rem
	}
	.h3 {
		font-size: 1.625rem
	}
	h4 {
		font-size: 1.375rem
	}
	.nav>li>a, h5 {
		font-size: 1.125rem
	}
	h6 {
		font-size: .875rem
	}
	.cover>.box>h1 {
		font-size: 1.75rem;
		line-height: 1.17857
	}
	.cover>.box>p {
		margin-bottom: 40px
	}
	.cover {
		padding: 30px 0;
		height: auto
	}
	.row {
		flex-flow: column nowrap
	}
	.row.is-m {
		flex-flow: row wrap
	}
	.popover-owner.has-pointer:before {
		content: "";
		position: absolute;
		top: 14px;
		right: 20px;
		width: 10px;
		height: 10px;
		border: 1px solid #3b3b3b;
		border-width: 0 1px 1px 0;
		transform: rotate(45deg)
	}
	.popover {
		overflow: auto;
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		max-height: 75vh;
		border-radius: 0;
		transform: translate3d(0, 100%, 0)
	}
	.popover.is-inline {
		display: none;
		position: relative;
		max-height: none;
		padding-left: 10px;
		transform: none;
		border: none;
		overflow: visible
	}
	.popover.is-full {
		top: 0;
		max-height: none;
		transform: translate3d(100%, 0, 0)
	}
	.card {
		padding: 16px;
		border-radius: 0
	}
	.dropdown>li.is-title, .dropdown>li>a {
		padding: 14px 20px
	}
	.dropdown.in-nav {
		color: #3b3b3b
	}
	.dropdown.in-nav>li>a {
		padding: 7px 20px
	}
	.in-pack, .input-pack {
		display: block
	}
	.in-pack
	
	
	
	
	:not
	
	
	 
	
	
	(
	:last-child
	
	
	 
	
	
	){
	margin-bottom
	
	
	
	
	:
	
	
	 
	
	
	16
	px
	
	
	
	


}

.list-menu {
	display: flex;
	width: auto;
	height: 100%;
	flex-direction: column;
	overflow: hidden
}

.list-menu-title {
	flex: 0 0 auto
}

.list-menu-group {
	overflow: auto;
	flex: 1 1 auto;
	justify-content: flex-start;
	max-height: none;
	min-height: auto
}

.nav>li.is-wide-m {
	flex: 1
}

.nav>li {
	align-self: auto
}

.nav>li>a {
	line-height: 1.125;
	padding: 10px 20px;
	color: #a6afb9
}

.nav>li>a.is-logo {
	display: block;
	margin: 0;
	padding: 14px;
	text-align: center
}

.nav>li>a.is-toggle {
	padding: 16px 20px
}

.nav>li.is-group {
	margin-top: 10px;
	padding: 10px 0;
	border-top: 1px solid #e7e9ed
}

.nav>li.is-first {
	order: 0;
	align-self: flex-end;
	width: 100%
}

.nav.is-aux>li>a {
	padding: 16px
}

.nav.can-toggle {
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	transform: translate3d(-100%, 0, 0)
}

.nav.can-toggle>li>a {
	display: block;
	color: #000
}

.slider-content {
	margin-bottom: 32px
}

.slider-caption {
	left: 0;
	right: 0;
	text-align: center
}

.p0-m {
	padding: 0 !important
}

.p0y-m {
	padding-bottom: 0 !important;
	padding-top: 0 !important
}

.u-expanded-m {
	width: 100% !important;
	display: block !important
}

.d {
	display: none !important
}

.t-center-m {
	text-align: center !important
}

.t-regular-m {
	font-size: 1rem;
	line-height: 1.67
}

}
@media screen and (min-width:1024px) {
	.popover.is-pointing:after, .popover:before {
		content: "";
		position: absolute;
		display: block;
		z-index: -1
	}
	.list.is-inline {
		margin: 0
	}
	.list.is-inline>li {
		display: inline-block;
		padding-left: 0
	}
	.list
	
	
	
	
	.is-inline
	>
	li
	
	
	
	
	:not
	
	
	 
	
	
	(
	:first-child
	
	
	 
	
	
	){
	padding-left
	
	
	
	
	:
	
	
	 
	
	
	23
	px
	
	
	
	


}

.col.is-12-d {
	flex: 0 0 auto;
	width: 100%
}

.popover:before {
	top: -6px;
	right: -6px;
	bottom: -6px;
	left: -6px
}

.popover[data-placement=bl], .popover[data-placement=br] {
	bottom: -4px;
	transform: translateX(0) translateY(100%) translateZ(2px)
}

.popover.is-pointing:before {
	top: -19px;
	right: -19px;
	bottom: -19px;
	left: -19px
}

.popover.is-pointing:after {
	border: 0 transparent;
	background: #fff;
	width: 14px;
	height: 14px;
	backface-visibility: hidden
}

.popover[data-placement=bl] {
	left: 0
}

.popover[data-placement=bl]:after {
	top: 0;
	left: 0;
	transform: translate(100%, -50%) rotate(-135deg)
}

.popover[data-placement=br] {
	right: 0
}

.popover[data-placement=br].is-pointing {
	bottom: -14px
}

.popover[data-placement=br]:after {
	top: 0;
	right: 0;
	transform: translate(-100%, -50%) rotate(-135deg)
}

.btn.in-pack {
	flex: none;
	min-width: auto;
	height: 44px;
	padding: 13px;
	border: 1px solid #a6afb8;
	outline: 0
}

.btn.in-pack.is-large {
	height: 50px;
	padding: 15px
}

.input-pack {
	display: flex
}

.in-pack {
	flex: 1;
	vertical-align: top
}

.in-pack, .in-pack>.input {
	border-radius: 0;
	min-width: 150px
}

.in-pack:first-child {
	border-radius: 2px 0 0 2px
}

.in-pack:last-child {
	border-radius: 0 2px 2px 0
}

.in-pack




:not


 


(
:first-child


 


)
:not


 


(
:last-child


 


){
margin-left




:


 


-1
px




;
margin-right




:


 


-1
px



	


}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,   sans-serif;
  font-size: 13px;
  color: #666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 13px;
  direction: ltr;
}

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}

/* AUTHOR LINK */


footer{
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  opacity: 0;
  font-family: 'Open Sans';
  width: 100%;
    word-wrap: break-word;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  margin: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

footer .authorWindow a{
  color: white;
  text-decoration: none;
}

footer p strong {
    color: rgba(255, 255, 255, 0.9);
}

.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
}


.about-me-img img {
}


.authorWindow{
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper{
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}





.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow{
         width: 210px;
    }

    .authorWindowWrapper{
             bottom: -170px;
  margin-bottom: 20px;
    }

    footer p{
          font-size: 14px;
    }
}



.nav>li.is-wide-d {
	flex: 1
}

.nav>li>a.is-logo {
	margin: 0 75px 0 26px;
	padding: 24px 0
}

.nav.is-aux>li>a>.icon {
	color: #fff
}

.m20x-d {
	margin-right: 20px !important;
	margin-left: 20px !important
}

.m {
	display: none !important
}

.t-right-d {
	text-align: right !important
}

.t-center-d {
	text-align: center !important
}

.t-small-d {
	font-size: .875rem;
	line-height: 1.67
}

}
@media screen {
	.print-only {
		display: none !important
	}
}
/*]]>*/



@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}



/*search box css start here*/
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
body {
    margin:0;
    padding:0;
}

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.curosel-custom {
    margin-top: -20px;
}

.custom-top {
    margin-top: -10px;
    margin-right: 100px;
}

.fontstyle1 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.fontstyle2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.custom-top1 {
    margin-top: -135px;
}

.btn-orange {
    background-color: gold;
}

.search-sec1 {
    position: relative;
    top: -114px;
}
.bg-inverse {
    background-color: #fff
}
.p20 {
    padding: 20px !important
}
.box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px
}

.box.is-large {
    max-width: 1200px
}

.box.is-wide {
    max-width: 1440px
}
.t-center {
    text-align: center !important
}
.m20y {
    margin-bottom: 20px !important
}
.p20y {
    padding-top: 20px !important
}
.t-center-d {
    text-align: center !important
}
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px
}
.card-banner {
    margin: -20px -20px 10px;
    overflow: hidden;
    border-radius: 4px 4px 0 0
}

.card-banner:only-child {
    position: relative;
    margin: -20px;
    border-radius: 4px
}

.card-banner:only-child>div:first-child {
    display: block;
    position: relative;
    max-width: 100%
}

.card-banner:only-child>div:first-child:before {
    content: "";
    display: block;
    padding-top: 100%
}

.card-banner:only-child>div:first-child>img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.card-banner:only-child.has-overlay>div:last-child,
.card-banner:only-child>a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.card-banner:only-child>a {
    transition: background-color .45s ease
}

.card-banner:only-child>a:hover {
    background: rgba(0, 0, 0, .15)
}

.card-banner:only-child>a>span {
    text-align: center;
    color: #fff
}

.card-banner:only-child>a>span:first-child {
    padding-bottom: 25px;
    font-weight: 700
}

.card-banner:only-child.has-overlay>div:last-child {
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, .35);
    opacity: 0;
    transition: opacity .45s ease;
    border-radius: 4px
}

.card-banner:only-child.has-overlay>div:last-child.v-align-top {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.card-banner:only-child.has-overlay>div:last-child.v-align-center {
    -ms-flex-pack: center;
    justify-content: center
}

.card-banner:only-child.has-overlay>div:last-child.v-align-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.card-banner:only-child.has-overlay>div:last-child.v-align-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.card-banner:only-child.has-overlay>div:last-child.h-align-right {
    -ms-flex-align: end;
    align-items: flex-end
}

.card-banner:only-child.has-overlay>div:last-child.h-align-center {
    -ms-flex-align: center;
    align-items: center
}

.card-banner:only-child.has-overlay:hover>div:last-child {
    opacity: 1
}

.card-banner:only-child.has-zoom>div:first-child {
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.card-banner:only-child.has-zoom>div:first-child>img {
    transition: transform .45s ease
}

.card-banner:only-child.has-zoom:hover>div:first-child>img {
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.card-banner:only-child.has-zoom.has-overlay:hover>div:first-child>img {
    -ms-transform: scale(1.025);
    transform: scale(1.025)
}

.card-banner>a>img,
.card-banner>img {
    width: 100%
}

.is-relaxed>.card-banner {
    border-radius: 0;
    margin: 0 -30px;
    max-height: 370px
}

.is-relaxed>.card-banner:first-child {
    border-radius: 4px 4px 0 0;
    margin: -30px -30px 15px
}
.media-m {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-m>img {
    margin-right: 1em
}

.media-m>div {
    -ms-flex: 1;
    flex: 1
}

.media-m.is-reversed {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.media-m.is-reversed>img {
    margin-right: auto;
    margin-left: 1em
}

.media-m.is-reversed>div {
    text-align: right
}
.list {
    font-size: 16px;
    padding-left: 1em
}

.list>li {
    padding-left: 1.375em;
    font-size: 1em;
    line-height: 1.625
}

.list.is-basic {
    list-style: none;
    padding-left: 0
}

.list.is-basic>li {
    padding-left: 0
}

.list.is-basic.is-spaced>li {
    padding: 6px 0
}

.list.is-basic.is-spaced.is-compact>li {
    padding: 0 0 8px
}

.list.is-tabular {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%
}

.list.is-tabular>li {
    display: table-cell;
    padding-left: 0;
    float: left;
    width: 100%
}

.list.is-tabular.of-1>li {
    width: 100%;
    padding-right: 10px
}

.list.is-tabular.of-2>li {
    width: 50%;
    padding-right: 10px
}

.list.is-tabular.of-3>li {
    width: 33.33333%;
    padding-right: 10px
}

.list.is-tabular.of-4>li {
    width: 25%;
    padding-right: 10px
}

.list.is-tabular.of-5>li {
    width: 20%;
    padding-right: 10px
}

.list.is-tabular.of-6>li {
    width: 16.66667%;
    padding-right: 10px
}

.list.t-mute>li>a {
    color: #a6afb9
}

.list.t-mute>li>a:hover {
    color: #2784fc
}



.col.is-4.is-half-d {
    width: 16.66667%
}

.col.is-4-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%
}

.col.is-4-d.is-half {
    width: 16.66667%
}

.col.is-5.is-half-d {
    width: 20.83333%
}

.col.is-5-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%
}

.col.is-5-d.is-half {
    width: 20.83333%
}

.col.is-6.is-half-d {
    width: 25%
}

.col.is-6-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.col.is-6-d.is-half {
    width: 25%
}

.col.is-7.is-half-d {
    width: 29.16667%
}

.col.is-7-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%
}

.col.is-7-d.is-half {
    width: 29.16667%
}

.col.is-8.is-half-d {
    width: 33.33333%
}

.col.is-8-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%
}

.col.is-8-d.is-half {
    width: 33.33333%
}

.col.is-9.is-half-d {
    width: 37.5%
}

.col.is-9-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%
}

.col.is-9-d.is-half {
    width: 37.5%
}

.col.is-10.is-half-d {
    width: 41.66667%
}

.col.is-10-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%
}

.col.is-10-d.is-half {
    width: 41.66667%
}

.col.is-11.is-half-d {
    width: 45.83333%
}

.col.is-11-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%
}

.col.is-11-d.is-half {
    width: 45.83333%
}

.col.is-12.is-half-d {
    width: 50%
}

.col.is-12-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%
}

.col.is-12-d.is-half {
    width: 50%
}

.card-content.is-spaced {
    padding-top: 40px
}
.card.has-scroll>.card-content {
    overflow: auto;
    margin: 0 -20px;
    padding: 0 20px;
    transform: translateZ(1px)
}

.card.has-scroll.is-relaxed>.card-content {
    margin: 0 -30px;
    padding: 0 30px
}

.card.has-scroll.is-compact>.card-content {
    margin: 0 -10px;
    padding: 0 10px
}
.card.has-scroll>.card-content {
    margin: 0 -16px;
    padding: 0 16px
}
.card-content.is-stretched {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}
.list.t-mute>li>a {
    color: #a6afb9
}

.list.t-mute>li>a:hover {
    color: #2784fc
}

.dlist {
    font-size: 16px;
    line-height: 1.625
}

.dlist.t-mute>div>dt {
    font-weight: 400
}
.t-small {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.67
}
.row.is-m {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}
.row.h-align-center-m {
    -ms-flex-pack: center;
    justify-content: center
}
.col.is-10-d {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%
}

.col.is-10-d.is-half {
    width: 41.66667%
}
.embed.is-16by9:before {
    padding-top: 56.25%
}
.embed {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden
}

.embed>.embedded {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed:before {
    content: "";
    display: block;
    padding-top: 100%
}

.embed.is-21by9:before {
    padding-top: 42.85714%
}

.embed.is-16by9:before {
    padding-top: 56.25%
}

.embed.is-4by3:before {
    padding-top: 75%
}
.u-stretch {
    width: 100% !important
}
.box-shadow{
    border: 1px solid gray;box-shadow: 1px 3px #888888;margin-bottom: 15px;
}
.btn.is-secondary {
    background-color: #828a93;
    border-color: #828a93
}
.t-wrap {
    white-space: normal
}
.btn.is-round {
    border-radius: 100px
}
.btn.is-outline {
    color: #2784fc;
    background-color: transparent
}


@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px) {
    .search-sec {
        background: #1A4668;
    }
}




