<div th:replace="../fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{'/assets/css/extra_css/ContactUs.css'}" />
  <section id="contactUs">
	<div class="container">
		<div class="contactPage">
			<div class="row">
				<div class="col col-md-9 col-lg-9">
					<div>
						<div class="card">
							<div class="card-head">						
								<h1 class="h3"> Contact Us</h1>
							</div>
							<div class="card-content is-stretched">
								<h2 class="h5"> Email Addresses</h2>
								<div class="row">
									<div class="col col-md-6 col-lg-6">
										<div class="emailAddress">
											<a th:href="@{'#'}">Job Seekers</a>
											<p class="mt-0 t-small"> For feedback and information regarding the website.</p>
										</div>
									</div>
									<div class="col col-md-6 col-lg-6">
										<div class="emailAddress">
											<a th:href="@{'#'}">Affiliate Program</a>
											<p class="mt-0 t-small">
											For information regarding the Bayt.com Affiliate Program.</p>
										</div>
									</div>
									<div class="col col-md-6 col-lg-6">
										<div class="emailAddress">
											<a th:href="@{'#'}">Employers</a>
											<p class="mt-0 t-small">  For information regarding employer packages (CV searches, job posting, etc.).</p>
										</div>
									</div>
									<div class="col col-md-6 col-lg-6">
										<div class="emailAddress">
											<a th:href="@{'#'}">Online Advertising</a>
											<p class="mt-0 t-small">
												For information regarding advertising on Bayt.com (banner advertisment, e-mail shots, etc.).</p>
										</div>
									</div>
									<div class="col col-md-6 col-lg-6">
										<div class="emailAddress">
											<a th:href="@{'#'}">Career Services</a>
											<p class="mt-0 t-small">
											For questions regarding paid CV Services</p>
										</div>	
									</div>
								</div>
								<hr class="m20b">
								<h2 class="h5"> Office Phone Numbers</h2>
								<div class="officeData">
								<div class="row">
						  			<div class="col col-md-6 col-lg-6">
										<h6> International Queries</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+962.6.5507445</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+962.6.5516926</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Pakistan - Lahore</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+92.423.5972051</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Mon to Fri)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Bahrain - Manama</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+973.66.983966</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>8:30 AM - 6:30 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col is-6-d is-12-m">
										<h6> Qatar - Doha</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+974.4432.2827</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+974.4432.2892</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>8 AM - 5 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Egypt - Cairo</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+20.22.520.2548</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 5 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Saudi Arabia - Eastern Province</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+966.13.893.2500</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+966.13.893.3811</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>8:30 AM - 6:30 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Jordan - Amman</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+962.6.5507445</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+962.6.5516926</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Saudi Arabia - Jeddah </h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+966.12.667.7970</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+966.12.667.7950</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6:30 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Kuwait - Al Kuwait</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+965.2.297.4333</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+965.2.229.4334</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Saudi Arabia - Riyadh</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+966.11.478.4736</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+966.11.473.0872</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>8:30 AM - 6:30 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Lebanon - Beirut</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+9611.888267</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>8:30 AM - 6:30 PM (Mon to Fri)</dd>
											</div>
										</dl>
									</div>	
						  			<div class="col col-md-6 col-lg-6">
										<h6> United Arab Emirates - Abu Dhabi</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+971.2.408.9111</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+971.2.631.4269</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> United Arab Emirates - Dubai</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+971.4.449.3100</dd>
											</div>
											<div>
												<dt>Fax: </dt>
												<dd>&lrm;+971.4.447.0332</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
						  			<div class="col col-md-6 col-lg-6">
										<h6> Oman - Muscat</h6>
										<dl class="dlist is-fitted t-xsmall">
											<div>
												<dt>Tel.: </dt>
												<dd>&lrm;+971.4.449.3100</dd>
											</div>
											<div>
												<dt>Working Hours:</dt>
												<dd>9 AM - 6 PM (Sun to Thu)</dd>
											</div>
										</dl>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-md-3 col-lg-3">
					<div>
						<aside class="">
							<div class="card">
								<div class="card-head">
									<h5>Videos</h5>
								</div>
								<div class="card-content t-small">
									<div class="has-attachments">
										<img onclick="showVideo()" class="u-stretch" alt="Videos"
											th:src="@{'https://img4cf.b8cdn.com/images/video-intro-sidebar-new.gif'}">
										<a th:href="@{'#'}" onclick="showVideo(); return false;" class="is-attached is-inner is-inverse p10x"
											data-position="f">How Bayt.com Works for You!</a>
									</div>
								</div>
							</div>
							<div class="card d">
								<form name="poll" action="" method="post" id="poll" class="form is-compact">
									<div class="card-head">
										<h5>Share Your Opinion</h5>
									</div>
									<div class="card-content">
										<input type="hidden" name="action" value="4">
										<input type="hidden" name="poll_action" value="1">
										<input type="hidden" name="poll_id" value="68016">
										<p>
											<b></b>
										</p>
										<div class="input-group_compact">
											<input type="radio" name="choice_id" value="68851" id="choice_id_68851" class="input">
											<label for="choice_id_68851">Flexibility</label>
											<input type="radio" name="choice_id" value="68852" id="choice_id_68852" class="input">
											<label for="choice_id_68852">More time for education</label>
											<input type="radio" name="choice_id" value="68853" id="choice_id_68853" class="input">
											<label for="choice_id_68853">More time to pursue a hobby</label>
											<input type="radio" name="choice_id" value="68854" id="choice_id_68854" class="input">
											<label for="choice_id_68854">More time for family</label>
											<input type="radio" name="choice_id" value="68855" id="choice_id_68855" class="input">
											<label for="choice_id_68855">Reduced stress levels and improved health</label>
											<input type="radio" name="choice_id" value="68856" id="choice_id_68856" class="input">
											<label for="choice_id_68856">Not applicable / can’t answer</label>
										</div>
										<div class="card-foot">
											<div class="p20b u-nowrap">
												<button type="submit" class="btn">Vote</button>
												<a th:href="@{'#'}" class="btn is-inverse">Results</a>
											</div>
											<a th:href="@{'#'}" class="is-gray m10y">View Past Polls</a>
						
										</div>
									</div>
								</form>
							</div>
							<br>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>


 <div th:replace="../fragments/footer :: footer"></div>