<div th:replace="../fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{'/assets/css/extra_css/JobsByCompany.css'}" />
    <!-- Body starts here -->

    <div class="box is-wide">
        <div class="row m20-d p20-d h-align-center">
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Partner and More  logo" title="Partner and More logo">
                        <div>
                            <a th:href="@{'/#'}">
								Partner and More </a>
                            <p class="t-mute m0-m p10y">
                                57 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1765031_logo_1553415065_n.png'}" alt="TASC Outsourcing  logo" title="TASC Outsourcing logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                48 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Premium Card  logo" title="Premium Card logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                24 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1765031_logo_1553415065_n.png'}" alt="TASC Outsourcing  logo" title="TASC Outsourcing logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                48 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Premium Card  logo" title="Premium Card logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                24 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1765031_logo_1553415065_n.png'}" alt="TASC Outsourcing  logo" title="TASC Outsourcing logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                48 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Premium Card  logo" title="Premium Card logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                24 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1765031_logo_1553415065_n.png'}" alt="TASC Outsourcing  logo" title="TASC Outsourcing logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                48 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Premium Card  logo" title="Premium Card logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                24 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1765031_logo_1553415065_n.png'}" alt="TASC Outsourcing  logo" title="TASC Outsourcing logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                48 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Premium Card  logo" title="Premium Card logo">
                        <div>
                            <a th:href="@{'/#'}">
								Premium Card </a>
                            <p class="t-mute m0-m p10y">
                                24 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col is-2-d">
                <div class="card">
                    <div class="card-content t-center-d media-m">
                        <img class="img-120 img-70-m u-left-m" th:src="@{'/assets/image/1992151_logo_1525976263_n.png'}" alt="Samaya Electronics  logo" title="Samaya Electronics logo">
                        <div>
                            <a th:href="@{'/#'}">
								Samaya Electronics </a>
                            <p class="t-mute m0-m p10y">
                                9 Jobs </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination" id="pagination">
        <li class="pagination-prev hidden">
            <a th:href="@{'/#'}"></a>
        </li>
        <li class="pagination-first-d hidden"><a th:href="@{'/#'}">First</a></li>
        <li class="page pagination-current"><a th:href="@{'/#'}">1</a></li>
        <li class="page"><a th:href="@{'/#'}">2</a></li>
        <li class="page"><a th:href="@{'/#'}">3</a></li>
        <li class="pagination-last-d"><a th:href="@{'/#'}">Last</a></li>
        <li class="pagination-next">
            <a th:href="@{'/#'}"></a>
        </li>
    </ul>

    <!-- Body ends here -->
<div th:replace="../fragments/footer :: footer"></div>