<div th:replace="../fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{'/assets/css/extra_css/JobsByRole.css'}" />
	<!-- <div class="t-center print-only"><img th:src="@{'/JobRolesBayt_files/bayt-logo.svg" alt="Bayt.com'}"></div> -->
	<section class="t-center box">
		<h1 class="m20y p20y">Most Common Job Roles in the Middle East</h1>
	</section>

	<div class="box is-wide">
		<div class="row m20-d p20-d v-align-stretch t-center-d h-align-center">

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 10311 </p>
							<span class="t-large p10y u-block">Maintenance, Repair, and Technician</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 3973 </p>
							<span class="t-large p10y u-block">Marketing and PR</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 3598 </p>
							<span class="t-large p10y u-block">Information Technology</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 2817 </p>
							<span class="t-large p10y u-block">Hospitality and Tourism</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 2710 </p>
							<span class="t-large p10y u-block">Sales</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 2544 </p>
							<span class="t-large p10y u-block">Engineering</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 1994 </p>
							<span class="t-large p10y u-block">Management</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 755 </p>
							<span class="t-large p10y u-block">Medical, Healthcare, and Nursing</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 738 </p>
							<span class="t-large p10y u-block">Accounting and Auditing</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 731 </p>
							<span class="t-large p10y u-block">Human Resources and Recruitment</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 621 </p>
							<span class="t-large p10y u-block">Administration</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 472 </p>
							<span class="t-large p10y u-block">Finance and Investment</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 461 </p>
							<span class="t-large p10y u-block">Secretarial</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 456 </p>
							<span class="t-large p10y u-block">Customer Service and Call Center</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 454 </p>
							<span class="t-large p10y u-block">Teaching and Academics</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 424 </p>
							<span class="t-large p10y u-block">Design, Creative, and Arts</span>
						</div>
					</div>
				</a>
			</div>

			<div class="col is-2-d">
				<a th:href="@{''}">
					<div class="card">
						<div class="card-content">
							<p class="h1 t-light u-right-m m0-m"> 325 </p>
							<span class="t-large p10y u-block">Logistics and Transportation</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>